Repository chanzuckerberg/czgenepi, pull requests merged in 2021-10, with the labels that each got.

#713 Maya/161386 create usher button
  src/frontend/package-lock.json
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/RadioLabel/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/RadioLabel/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/style.ts
  src/frontend/src/common/components/library/data_subview/components/IconButton/index.tsx
  src/frontend/src/common/components/library/data_subview/components/TreeSelectionMenu/index.tsx
  src/frontend/src/common/components/library/data_subview/components/TreeSelectionMenu/style.ts
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/components/library/data_subview/style.ts
  src/frontend/src/common/icons/IconCheckSmall.svg
  src/frontend/src/common/icons/IconCloseSmall.svg
  src/frontend/src/common/icons/IconDownload.svg
  src/frontend/src/common/icons/IconPhylotree.svg
  src/frontend/src/common/utils/featureFlags.tsx
Labels: enhancement

#716 Mark old PhyloRun workflows as failed in DB
  src/backend/database_migrations/versions/20211001_110738_mark_old_phylo_runs_as_failed.py
Labels: bug, migration, backend

#717 [sc161837] newtablink component
  src/frontend/src/common/components/library/NewTabLink/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/TreeCreateHelpLink/index.tsx
  src/frontend/src/common/components/library/data_subview/components/TreeCreateHelpLink/styles.ts
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/components/library/data_subview/style.ts
  src/frontend/src/common/utils/TreeModal/ConfirmButton/index.tsx
  src/frontend/src/components/AcknowledgePolicyChanges/index.tsx
  src/frontend/src/components/AcknowledgePolicyChanges/style.ts
  src/frontend/src/views/AgreeTerms/index.tsx
  src/frontend/src/views/Data/components/TreeTypeTooltip/index.tsx
  src/frontend/src/views/Data/headerRenderer.tsx
  src/frontend/src/views/Faq/index.tsx
  src/frontend/src/views/Privacy/index.tsx
  src/frontend/src/views/Terms/index.tsx
  src/frontend/src/views/Upload/components/Metadata/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Upload/index.tsx
  src/frontend/src/views/Upload/components/Review/index.tsx
Labels: frontend

#719 Danrlu/update overview
  src/backend/aspen/workflows/nextstrain_run/builds_templates/group_plus_context.yaml
  src/backend/aspen/workflows/nextstrain_run/nextstrain_profile/description_overview.md
Labels: enhancement

#721 Maya/161398 usher preparing modal
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/common/components/library/data_subview/components/UsherPreparingModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherPreparingModal/style.ts
  src/frontend/src/common/components/library/data_subview/index.tsx
Labels: enhancement

#726 pin ncov version
  .happy/terraform/modules/sfn_config/nextstrain-dbg.wdl
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_ondemand.sh
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_scheduled.sh
Labels: bug

#728 little bit of state clean up
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
  src/frontend/src/common/components/library/data_subview/index.tsx
Labels: frontend

#727 Maya/design tweaks
  src/frontend/src/common/components/library/Dialog/components/DialogActions/style.ts
  src/frontend/src/common/components/library/data_subview/components/UsherConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherConfirmationModal/style.ts
  src/frontend/src/common/components/library/data_subview/components/UsherPreparingModal/style.ts
  src/frontend/src/components/ConfirmDialog/style.ts
Labels: design feedback

#732 Endpoint and data for UShER options
  src/backend/aspen/app/serializers.py
  src/backend/aspen/app/views/usher.py
  src/backend/aspen/database/models/__init__.py
  src/backend/aspen/database/models/usher.py
  src/backend/aspen/main.py
  src/backend/database_migrations/versions/20211008_225815_add_usher_options.py
Labels: enhancement, migration, backend

#739 Usher placement modal and tie it together
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/style.ts
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/FailedSampleAlert/index.tsx
  src/frontend/src/common/components/library/data_subview/components/FailedSampleAlert/style.ts
  src/frontend/src/common/components/library/data_subview/components/TreeSelectionMenu/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherPreparingModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherConfirmationModal/style.ts
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherPlacementModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherPlacementModal/style.ts
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherPreparingModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherPreparingModal/style.ts
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/index.tsx
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/queries/trees.ts
  src/frontend/src/common/utils/strUtils.ts
  src/frontend/src/components/FilterPanel/components/GenomeRecoveryFilter/index.tsx
  src/frontend/src/components/FilterPanel/components/LineageFilter/index.tsx
Labels: enhancement, frontend

#745 Maya/usher feedback
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherPlacementModal/index.tsx
  src/frontend/src/common/queries/trees.ts
Labels: frontend

#742 styles
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/style.ts
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherPlacementModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherPlacementModal/style.ts
Labels: design feedback, frontend

#740 Danphoenixjess/upgrade gisaid workflow
  .happy/terraform/modules/sfn_config/gisaid.wdl
  .happy/terraform/modules/sfn_config/nextstrain-dbg.wdl
  src/backend/Dockerfile.gisaid
  src/backend/aspen/workflows/align_gisaid/builds.yaml
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_ondemand.sh
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_scheduled.sh
Labels: enhancement, backend

#753 Maya/turn on usher
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/common/components/library/data_subview/components/TreeSelectionMenu/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherPlacementModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherPlacementModal/style.ts
  src/frontend/src/common/utils/featureFlags.tsx
Labels: enhancement, frontend
