Repository chanzuckerberg/czgenepi, pull requests merged in 2021-11, with the labels that each got.

#773 Make Happy CLI ask questions when updates take too long
  .happy/config.json
  .happy/terraform/envs/rdev/variables.tf
  scripts/happy
Labels: enhancement

#776 Allow Spaces in Private IDs
  src/backend/aspen/app/views/sample.py
  src/backend/aspen/fileio/fasta_streamer.py
  src/frontend/.eslintrc.js
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherPlacementModal/index.tsx
  src/frontend/src/common/queries/trees.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/parseFile.ts
  src/frontend/src/views/Upload/components/Samples/components/AlertTable/index.tsx
  src/frontend/src/views/Upload/components/Samples/index.tsx
  src/frontend/src/views/Upload/components/Samples/utils.ts
  src/frontend/src/views/Upload/components/common/types.ts
Labels: enhancement, frontend, backend

#774 Maya/166015 gisaid input
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/TreeNameInput/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/TreeNameInput/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/style.ts
Labels: enhancement, frontend

#779 Maya/166015 collapsible instructions component
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/TreeNameInput/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/TreeNameInput/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/components/CollapsibleInstructions/index.tsx
  src/frontend/src/components/CollapsibleInstructions/style.ts
  src/frontend/src/views/Upload/components/Samples/index.tsx
  src/frontend/src/views/Upload/components/Samples/style.ts
Labels: enhancement

#780 Danrlu/add tree name
  src/backend/aspen/workflows/nextstrain_run/builds_templates/group_plus_context.yaml
  src/backend/aspen/workflows/nextstrain_run/builds_templates/non_contextualized.yaml
  src/backend/aspen/workflows/nextstrain_run/builds_templates/targeted.yaml
Labels: enhancement

#775 Change out stylelint for prettier in pre-commit
  .pre-commit-config.yaml
  src/frontend/src/common/components/library/data_table/index.module.scss
  src/frontend/src/components/TreeTableDownloadMenu/index.module.scss
Labels: bug

#782 Maya/166015 gisaid input ui management and refactoring
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/CreateTreeButton/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/CreateTreeButton/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/components/InputInstructions/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/components/InputInstructions/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/style.ts
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/icons/IconLoadingAnimated.svg
Labels: enhancement, frontend

#781 frontend dependency update
  src/frontend/next-env.d.ts
  src/frontend/next.config.js
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/pages/_app.tsx
  src/frontend/pages/_document.tsx
  src/frontend/src/common/components/library/data_subview/components/RedirectConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/RedirectConfirmationModal/style.ts
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherConfirmationModal/index.tsx
  src/frontend/src/views/Data/components/TreeVizModal/index.tsx
  src/frontend/tsconfig.json
Labels: enhancement, frontend, dependencies

#785 Maya/166015 gisaid input
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
Labels: enhancement, frontend

#760 use wget opposed to curl, add retries
  .happy/terraform/modules/sfn_config/gisaid.wdl
Labels: enhancement

#778 Add sample delete endpoint
  src/backend/aspen/api/conftest.py
  src/backend/aspen/api/schemas/samples.py
  src/backend/aspen/api/schemas/users.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/tests/test_samples.py
  src/backend/aspen/api/views/tests/test_users.py
  src/backend/aspen/database/models/sequences.py
  src/cli/aspencli.py
Labels: enhancement

#786 Maya/166015 gisaid input
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/CreateTreeButton/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/CreateTreeButton/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/MissingSampleAlert/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/MissingSampleAlert/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/style.ts
Labels: enhancement, frontend

#789 Danrlu/pin ncov 1109
  .happy/terraform/modules/sfn_config/nextstrain-dbg.wdl
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_ondemand.sh
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_scheduled.sh
Labels: bug

#787 Tree delete endpoint
  src/backend/aspen/api/main.py
  src/backend/aspen/api/schemas/phylo_runs.py
  src/backend/aspen/api/schemas/phylo_trees.py
  src/backend/aspen/api/views/phylo_runs.py
  src/backend/aspen/api/views/phylo_trees.py
  src/backend/aspen/api/views/tests/test_create_phylo_runs.py
  src/backend/aspen/api/views/tests/test_delete_phylo_runs.py
  src/cli/aspencli.py
Labels: enhancement, backend

#791 update isl accessions
  src/backend/aspen/app/views/sample.py
  src/backend/aspen/app/views/tests/test_samples_view.py
  src/backend/aspen/test_infra/models/gisaid_accession.py
  src/cli/aspencli.py
Labels: enhancement, backend

#793 keep Chicago as Chicago instead of Cook County
  .happy/terraform/modules/sfn_config/gisaid.wdl
Labels: bug

#790 Attach the ID of the user initiating an ondemand run to a workflow.
  Makefile
  src/backend/aspen/api/schemas/phylo_runs.py
  src/backend/aspen/api/views/phylo_runs.py
  src/backend/aspen/api/views/tests/test_create_phylo_runs.py
  src/backend/aspen/app/views/phylo_runs.py
  src/backend/aspen/app/views/phylo_trees.py
  src/backend/aspen/app/views/tests/test_phylo_runs.py
  src/backend/aspen/database/models/workflow.py
  src/backend/aspen/main.py
  src/backend/database_migrations/versions/20211109_213333_add_initiating_user_to_workflows.py
Labels: enhancement

#795 set crowding penalty as a parameter
  .happy/terraform/modules/sfn_config/nextstrain-dbg.wdl
  src/backend/Dockerfile.nextstrain
  src/backend/aspen/workflows/nextstrain_run/builds_templates/group_plus_context.yaml
  src/backend/aspen/workflows/nextstrain_run/builds_templates/non_contextualized.yaml
  src/backend/aspen/workflows/nextstrain_run/builds_templates/targeted.yaml
  src/backend/aspen/workflows/nextstrain_run/patches/crowding_penalty.patch
  src/backend/aspen/workflows/nextstrain_run/patches/local_ncov_settings.patch
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_ondemand.sh
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_scheduled.sh
Labels: backend

#792 Maya/166015 gisaid input styling
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/CreateTreeButton/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/CreateTreeButton/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/MissingSampleAlert/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/MissingSampleAlert/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/components/InputInstructions/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/components/InputInstructions/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/style.ts
  src/frontend/src/common/components/library/data_subview/components/FailedSampleAlert/style.ts
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherPlacementModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherPlacementModal/style.ts
  src/frontend/src/components/CollapsibleInstructions/style.ts
Labels: enhancement, frontend

#784 Add V2 GET /samples/ endpoint
  src/backend/aspen/api/schemas/samples.py
  src/backend/aspen/api/utils/__init__.py
  src/backend/aspen/api/utils/authz.py
  src/backend/aspen/api/utils/gisaid.py
  src/backend/aspen/api/utils/sample.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/tests/test_samples.py
  src/backend/aspen/app/views/sample.py
  src/backend/aspen/test_infra/models/sample.py
  src/backend/aspen/test_infra/models/sequences.py
Labels: backend

#797 pin ncov in docker file
  .happy/terraform/modules/sfn_config/gisaid.wdl
  src/backend/Dockerfile.gisaid
Labels: backend

#799 Use Optional instead of Union[None,xx]
  src/backend/aspen/api/auth.py
  src/backend/aspen/api/schemas/phylo_runs.py
  src/backend/aspen/app/views/api_utils.py
  src/backend/aspen/database/models/sample.py
  src/backend/aspen/workflows/pangolin/save.py
Labels: good first issue

#802 Bulk samples delete endpoint
  src/backend/aspen/api/schemas/samples.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/tests/test_samples.py
  src/cli/aspencli.py
Labels: backend

#798 Add aspencli command to query v2 sample list
  src/cli/aspencli.py
Labels: backend

#803 change daily tree build to weekly
  .happy/terraform/modules/ecs-stack/county_runs.tf
Labels: backend

#809 Maya/gisaid tweaks
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/MissingSampleAlert/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/MissingSampleAlert/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/components/InputInstructions/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/style.ts
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/common/queries/trees.ts
  src/frontend/src/common/queries/types.ts
  src/frontend/src/common/styles/support/style.ts
Labels: design feedback, frontend

#800 Resources Page
  src/frontend/pages/resources.tsx
  src/frontend/src/common/routes.ts
  src/frontend/src/common/styles/support/components/List/index.tsx
  src/frontend/src/common/styles/support/components/List/style.ts
  src/frontend/src/components/NavBar/components/RightNav/components/UserMenu/index.tsx
  src/frontend/src/components/NavBar/components/RightNav/index.tsx
  src/frontend/src/components/NavBar/components/RightNav/style.ts
  src/frontend/src/views/Resources/index.tsx
  src/frontend/src/views/Resources/style.ts
Labels: enhancement, frontend

#807 Maya/turn on gisaid
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/TreeSelectionMenu/index.tsx
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/utils/featureFlags.tsx
Labels: enhancement, frontend

#810 pages cleanup
  src/frontend/src/common/styles/support/components/List/index.tsx
  src/frontend/src/common/styles/support/components/List/style.ts
  src/frontend/src/common/styles/support/style.ts
  src/frontend/src/views/Faq/index.tsx
  src/frontend/src/views/Privacy/index.tsx
  src/frontend/src/views/Resources/index.tsx
  src/frontend/src/views/Resources/style.ts
  src/frontend/src/views/Terms/index.tsx
Labels: enhancement, frontend

#806 gisaid id clarification
  src/frontend/src/views/Data/headerRenderer.tsx
  src/frontend/src/views/Upload/components/common/constants.ts
Labels: enhancement, frontend

#811 Sc172588 rebrand logo
  src/frontend/src/common/images/logo.svg
  src/frontend/src/common/images/logo_complete_white.svg
  src/frontend/src/components/NavBar/style.ts
  src/frontend/src/views/AgreeTerms/index.tsx
  src/frontend/src/views/Homepage/index.tsx
  src/frontend/src/views/Homepage/style.ts
Labels: enhancement, frontend

#813 Maya/137090 crud header tooltip
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/components/library/data_table/components/HeaderRow/components/TableHeader/index.tsx
  src/frontend/src/common/components/library/data_table/components/HeaderRow/components/TableHeader/style.ts
  src/frontend/src/common/components/library/data_table/components/HeaderRow/index.tsx
  src/frontend/src/common/components/library/data_table/components/HeaderRow/style.ts
  src/frontend/src/common/components/library/data_table/index.module.scss
  src/frontend/src/common/components/library/data_table/index.tsx
  src/frontend/src/common/components/library/data_table/style.ts
  src/frontend/src/common/types/data.d.ts
  src/frontend/src/common/types/table.d.ts
  src/frontend/src/common/utils/tableUtils.tsx
  src/frontend/src/views/Data/headerRenderer.tsx
  src/frontend/src/views/Data/headers.tsx
  src/frontend/src/views/Data/index.tsx
Labels: enhancement, frontend

#815 Rebrand: Terms and Privacy pages
  src/frontend/src/views/Privacy/index.tsx
  src/frontend/src/views/Terms/index.tsx
Labels: enhancement, frontend

#816 new auth0 logo
  src/frontend/public/AspenLogoBlack.svg
  src/frontend/public/CZGenEpiLogoBlack.svg
Labels: frontend

#817 Update ncov pin to label the new variant B.1.1.529/omicron
  src/backend/Dockerfile.gisaid
  src/backend/Dockerfile.nextstrain
Labels: backend

#819 Rebrand: most secondary objectives
  src/frontend/src/common/components/index.tsx
  src/frontend/src/common/components/library/HeadAppTitle/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/RadioLabel/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/components/InputInstructions/index.tsx
  src/frontend/src/common/components/library/data_subview/components/RedirectConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/TreeSelectionMenu/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherConfirmationModal/index.tsx
  src/frontend/src/common/images/logo_complete_white.svg
  src/frontend/src/views/AgreeTerms/index.tsx
  src/frontend/src/views/Data/components/TreeTypeTooltip/index.tsx
  src/frontend/src/views/Data/components/TreeVizModal/index.tsx
  src/frontend/src/views/Data/index.tsx
  src/frontend/src/views/Faq/index.tsx
  src/frontend/src/views/Homepage/index.tsx
  src/frontend/src/views/Privacy/index.tsx
  src/frontend/src/views/Resources/index.tsx
  src/frontend/src/views/Terms/index.tsx
  src/frontend/src/views/Upload/components/Metadata/index.tsx
  src/frontend/src/views/Upload/components/Review/index.tsx
  src/frontend/src/views/Upload/components/Samples/index.tsx
Labels: enhancement, frontend

#822 update FAQ copy
  src/frontend/src/views/Faq/index.tsx
Labels: frontend
