Repository chanzuckerberg/czgenepi, pull requests merged in 2021-12, with the labels that each got.

#823 Chicago weekly tree build
  .happy/terraform/modules/ecs-stack/county_runs.tf
Labels: backend

#827 only color users' counties
  src/backend/aspen/workflows/nextstrain_run/nextstrain_profile/ordering.tsv
Labels: enhancement

#821 Add GISAID location support on backend
  .happy/terraform/modules/sfn_config/gisaid.wdl
  src/backend/aspen/api/main.py
  src/backend/aspen/api/schemas/locations.py
  src/backend/aspen/api/schemas/samples.py
  src/backend/aspen/api/views/locations.py
  src/backend/aspen/app/views/sample.py
  src/backend/aspen/database/models/__init__.py
  src/backend/aspen/database/models/locations.py
  src/backend/aspen/database/models/sample.py
  src/backend/aspen/workflows/import_gisaid/__init__.py
  src/backend/aspen/workflows/import_gisaid/save.py
  src/backend/aspen/workflows/import_locations/__init__.py
  src/backend/aspen/workflows/import_locations/save.py
  src/backend/database_migrations/versions/20211117_213611_add_locations_table.py
  src/cli/aspencli.py
Labels: enhancement, migration, backend

#830 update routes for new landing page
  src/frontend/pages/index.tsx
  src/frontend/src/common/routes.ts
  src/frontend/src/components/NavBarV2/index.tsx
  src/frontend/src/views/LandingPageV2/components/Footer/index.tsx
Labels: frontend

#825 Maya/173806 uploader name
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/components/library/data_table/components/HeaderRow/components/TableHeader/style.ts
  src/frontend/src/common/components/library/data_table/index.tsx
  src/frontend/src/common/components/library/data_table/style.ts
  src/frontend/src/common/types/bioinformatics.d.ts
  src/frontend/src/common/utils/tableUtils.tsx
  src/frontend/src/common/utils/timeUtils.tsx
  src/frontend/src/components/FilterPanel/index.tsx
  src/frontend/src/views/Data/cellRenderers.tsx
  src/frontend/src/views/Data/components/TreeTableNameCell/style.ts
  src/frontend/src/views/Data/headers.tsx
  src/frontend/src/views/Data/style.ts
Labels: enhancement, frontend

#832 move weekly tree building to daily
  .happy/terraform/modules/ecs-stack/county_runs.tf
Labels: backend

#834 Fix v2 list samples getter dict issue
  src/backend/aspen/api/schemas/samples.py
Labels: bug, backend

#828 Maya/173839 more actions button
  src/frontend/src/common/components/library/data_subview/components/MoreActionMenu/index.tsx
  src/frontend/src/common/components/library/data_subview/components/MoreActionMenu/style.ts
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/icons/IconDotsHorizontal3Large.svg
  src/frontend/src/common/icons/IconTrashCanSmall.svg
  src/frontend/src/common/utils/featureFlags.tsx
Labels: enhancement, frontend

#835 hide sample uploader names behind feature flag
  src/frontend/src/views/Data/cellRenderers.tsx
Labels: bug, frontend

#837 resolve mui error
  src/frontend/src/common/styles/theme.ts
Labels: frontend

#836 Danrlu/remove adjustment
  src/backend/aspen/workflows/nextstrain_run/builds_templates/group_plus_context.yaml
  src/backend/aspen/workflows/nextstrain_run/builds_templates/non_contextualized.yaml
  src/backend/aspen/workflows/nextstrain_run/builds_templates/targeted.yaml
  src/backend/aspen/workflows/nextstrain_run/nextstrain_profile/aspen_auspice_config_v2.json
Labels: enhancement

#838 conditionally show banner only for logged out users
  src/frontend/src/components/NavBarV2/index.tsx
Labels: frontend

#833 Use new locations in upload flow
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/queries/locations.ts
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/common/types/location.d.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/parseFile.ts
  src/frontend/src/views/Upload/components/Metadata/components/Table/components/Row/components/LocationField/COUNTIES.ts
  src/frontend/src/views/Upload/components/Metadata/components/Table/components/Row/components/LocationField/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/Table/components/Row/components/LocationField/style.ts
  src/frontend/src/views/Upload/components/Metadata/components/Table/components/Row/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/Table/index.tsx
  src/frontend/src/views/Upload/components/Metadata/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Table/components/Row/index.tsx
  src/frontend/src/views/Upload/components/common/constants.ts
  src/frontend/src/views/Upload/components/common/types.ts
  src/frontend/src/views/Upload/index.tsx
Labels: enhancement, frontend, dependencies

#842 add uploader name for cz biohub
  src/frontend/src/views/Data/cellRenderers.tsx
Labels: enhancement, frontend

#839 Maya/173844 delete modal
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/components/library/Dialog/components/DialogActions/style.ts
  src/frontend/src/common/components/library/data_subview/components/DeleteSamplesConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/MoreActionMenu/index.tsx
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/components/ConfirmDialog/index.tsx
  src/frontend/src/components/DeleteDialog/index.tsx
  src/frontend/src/components/DeleteDialog/style.ts
Labels: enhancement, frontend

#855 Set up yaml for Chicago tree
  .happy/terraform/modules/ecs-stack/county_runs.tf
  src/backend/aspen/workflows/nextstrain_run/builds_templates/group_plus_context_Chicago.yaml
Labels: bug

#843 Maya/173844 refactor
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherPlacementModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/index.tsx
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/components/library/data_table/index.tsx
  src/frontend/src/common/types/bioinformatics.d.ts
  src/frontend/src/common/types/data.d.ts
  src/frontend/src/views/Data/index.tsx
Labels: frontend

#844 add a cache for sample data
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/queries/entities.ts
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/views/Data/index.tsx
Labels: enhancement, frontend

#852 Fix import_location script so it is idempotent
  src/backend/aspen/workflows/import_locations/save.py
Labels: bug, backend

#845 173844 delete some samples
  src/frontend/src/common/components/library/data_subview/components/DeleteSamplesConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DeleteSamplesConfirmationModal/style.ts
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/common/types/bioinformatics.d.ts
Labels: enhancement, frontend

#841 Generate Nextstrain build configs dynamically.
  .happy/terraform/modules/ecs-stack/county_runs.tf
  src/backend/aspen/cli/db.py
  src/backend/aspen/test_infra/models/phylo_tree.py
  src/backend/aspen/test_infra/models/sequences.py
  src/backend/aspen/workflows/nextstrain_run/build_config.py
  src/backend/aspen/workflows/nextstrain_run/builder_base.py
  src/backend/aspen/workflows/nextstrain_run/builds_templates/group_plus_context.yaml
  src/backend/aspen/workflows/nextstrain_run/builds_templates/group_plus_context_Chicago.yaml
  src/backend/aspen/workflows/nextstrain_run/builds_templates/mega_template.yaml
  src/backend/aspen/workflows/nextstrain_run/builds_templates/non_contextualized.yaml
  src/backend/aspen/workflows/nextstrain_run/builds_templates/targeted.yaml
  src/backend/aspen/workflows/nextstrain_run/export.py
  src/backend/aspen/workflows/nextstrain_run/export_test.py
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_ondemand.sh
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_scheduled.sh
  src/backend/aspen/workflows/nextstrain_run/tests/test_export.py
  src/backend/poetry.lock
  src/backend/pyproject.toml
Labels: enhancement

#859 Remove code that bluntly tried to populate locations table and location_id
  src/backend/database_migrations/versions/20211117_213611_add_locations_table.py
Labels: backend

#857 upgrade dependency doc for frontend
  docs/general/how-to-upgrade-dependencies.md
Labels: documentation

#863 fix tab counts
  src/frontend/src/views/Data/index.tsx
Labels: bug, frontend

#864 move up gisaid job
  .happy/terraform/modules/ecs-stack/main.tf
Labels: backend

#862 strip hCoV-19 from gisaid ids for tree build
  src/backend/aspen/workflows/nextstrain_run/export.py
Labels: backend

#869 upgrade next
  src/frontend/next-env.d.ts
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: frontend, dependencies

#872 remove automatic rename of alameda county
  .happy/terraform/modules/sfn_config/gisaid.wdl
Labels: bug

#870 Return group id and name with phylo tree
  src/backend/aspen/app/views/phylo_trees.py
  src/backend/aspen/app/views/tests/test_phylo_tree_view.py
Labels: backend

#860 Maya/173849 crud notifs
  src/frontend/src/common/components/library/data_subview/components/ContactUsLink/index.tsx
  src/frontend/src/common/components/library/data_subview/components/ContactUsLink/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/style.ts
  src/frontend/src/common/components/library/data_subview/components/DeleteSamplesConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherPlacementModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/style.ts
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/components/library/data_subview/style.ts
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/common/queries/trees.ts
  src/frontend/src/common/queries/types.ts
  src/frontend/src/components/DeleteDialog/index.tsx
  src/frontend/src/components/Notification/style.ts
Labels: enhancement, frontend

#873 navbar useUserInfo cleanup
  src/frontend/pages/_app.tsx
  src/frontend/src/components/NavBar/components/RightNav/components/UserMenu/index.tsx
  src/frontend/src/components/NavBar/components/RightNav/index.tsx
Labels: frontend

#876 add spaces
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
Labels: bug, frontend

#866 Maya/173833 173871 tree table updates
  src/frontend/src/common/components/library/data_subview/components/IconButton/index.tsx
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/components/library/data_subview/style.ts
  src/frontend/src/common/components/library/data_table/components/HeaderRow/components/TableHeader/index.tsx
  src/frontend/src/common/components/library/data_table/components/HeaderRow/components/TableHeader/style.ts
  src/frontend/src/common/components/library/data_table/components/HeaderRow/index.tsx
  src/frontend/src/common/components/library/data_table/index.tsx
  src/frontend/src/common/components/library/data_table/style.ts
  src/frontend/src/common/icons/IconDotsHorizontal3Large.svg
  src/frontend/src/common/icons/IconDownloadLarge.svg
  src/frontend/src/common/icons/IconDownloadSmall.svg
  src/frontend/src/common/types/bioinformatics.d.ts
  src/frontend/src/components/TreeTableDownloadMenu/index.module.scss
  src/frontend/src/components/TreeTableDownloadMenu/index.tsx
  src/frontend/src/views/Data/cellRenderers.tsx
  src/frontend/src/views/Data/components/FilterPanelToggle/index.tsx
  src/frontend/src/views/Data/components/NextstrainConfirmationModal/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/MoreActionsMenu/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/MoreActionsMenu/style.ts
  src/frontend/src/views/Data/components/TreeActionMenu/components/OpenInNextstrainButton/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/TreeTableDownloadMenu/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/style.ts
  src/frontend/src/views/Data/components/TreeTableNameCell/index.tsx
  src/frontend/src/views/Data/components/TreeTableNameCell/style.ts
  src/frontend/src/views/Data/constants.ts
  src/frontend/src/views/Data/headers.tsx
Labels: enhancement, frontend

#880 Maya/delete tree
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DeleteSamplesConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DeleteSamplesConfirmationModal/style.ts
  src/frontend/src/common/components/library/data_subview/components/DeleteTreeConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/components/library/data_table/components/HeaderRow/components/TableHeader/index.tsx
  src/frontend/src/common/components/library/data_table/components/HeaderRow/index.tsx
  src/frontend/src/common/components/library/data_table/index.tsx
  src/frontend/src/common/icons/IconOpenSmall.svg
  src/frontend/src/common/icons/OpenInNew.svg
  src/frontend/src/common/queries/trees.ts
  src/frontend/src/common/types/bioinformatics.d.ts
  src/frontend/src/common/types/table.d.ts
  src/frontend/src/common/utils/tableUtils.tsx
  src/frontend/src/components/DeleteDialog/style.ts
  src/frontend/src/views/Data/cellRenderers.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/MoreActionsMenu/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/OpenInNextstrainButton/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/TreeTableDownloadMenu/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/style.ts
  src/frontend/src/views/Data/components/TreeTableNameCell/index.tsx
  src/frontend/src/views/Data/components/TreeTableNameCell/style.ts
  src/frontend/src/views/Data/headers.tsx
Labels: enhancement, frontend

#884 turn on crud
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/utils/featureFlags.tsx
  src/frontend/src/views/Data/cellRenderers.tsx
Labels: enhancement, frontend

#885 Maya/crud
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DeleteSamplesConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DeleteSamplesConfirmationModal/style.ts
  src/frontend/src/common/components/library/data_subview/components/DeleteTreeConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/IconButton/index.tsx
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/components/library/data_subview/style.ts
  src/frontend/src/common/components/library/data_table/components/HeaderRow/components/TableHeader/index.tsx
  src/frontend/src/common/components/library/data_table/components/HeaderRow/components/TableHeader/style.ts
  src/frontend/src/common/components/library/data_table/components/HeaderRow/index.tsx
  src/frontend/src/common/components/library/data_table/index.tsx
  src/frontend/src/common/components/library/data_table/style.ts
  src/frontend/src/common/icons/IconDotsHorizontal3Large.svg
  src/frontend/src/common/icons/IconDownloadLarge.svg
  src/frontend/src/common/icons/IconDownloadSmall.svg
  src/frontend/src/common/icons/IconOpenSmall.svg
  src/frontend/src/common/icons/OpenInNew.svg
  src/frontend/src/common/queries/trees.ts
  src/frontend/src/common/types/bioinformatics.d.ts
  src/frontend/src/common/types/table.d.ts
  src/frontend/src/common/utils/featureFlags.tsx
  src/frontend/src/common/utils/tableUtils.tsx
  src/frontend/src/components/DeleteDialog/style.ts
  src/frontend/src/components/TreeTableDownloadMenu/index.module.scss
  src/frontend/src/components/TreeTableDownloadMenu/index.tsx
  src/frontend/src/views/Data/cellRenderers.tsx
  src/frontend/src/views/Data/components/FilterPanelToggle/index.tsx
  src/frontend/src/views/Data/components/NextstrainConfirmationModal/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/MoreActionsMenu/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/MoreActionsMenu/style.ts
  src/frontend/src/views/Data/components/TreeActionMenu/components/OpenInNextstrainButton/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/TreeTableDownloadMenu/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/style.ts
  src/frontend/src/views/Data/components/TreeTableNameCell/index.tsx
  src/frontend/src/views/Data/components/TreeTableNameCell/style.ts
  src/frontend/src/views/Data/constants.ts
  src/frontend/src/views/Data/headers.tsx
Labels: frontend

#882 rename crowding penalty
  src/backend/Dockerfile.nextstrain
  src/backend/aspen/workflows/nextstrain_run/builder_base.py
  src/backend/aspen/workflows/nextstrain_run/builds_templates/mega_template.yaml
  src/backend/aspen/workflows/nextstrain_run/patches/crowding_penalty.patch
Labels: backend

#891 Remove the utility container.
  Makefile
  docker-compose.yml
  docs/DEV_ENV.md
  docs/backend/README.md
Labels: backend

#897 HOTFIX -- Fix missing JSON download link for trees
  src/frontend/src/views/Data/components/TreeActionMenu/components/TreeTableDownloadMenu/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/index.tsx
Labels: bug, frontend
