Repository chanzuckerberg/czgenepi, pull requests merged in 2022-09, with the labels that each got.

#1311 [SC-211770] bug - TOS requires multiple clicks to close
  src/frontend/src/common/queries/auth.ts
  src/frontend/src/common/queries/groups.ts
  src/frontend/src/views/AgreeTerms/index.tsx
  src/frontend/src/views/AgreeTerms/style.tsx
Labels: frontend, ez-pz

#1314 Fix what I broke
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_ondemand.sh
Labels: bug, backend, ez-pz

#1313 Prevent broken tree builds in the tree list UI
  .happy/terraform/modules/ecs-stack/main.tf
  .happy/terraform/modules/sfn_config/nextstrain.wdl
  src/backend/aspen/api/authn.py
  src/backend/aspen/api/deps.py
  src/backend/aspen/api/main.py
  src/backend/aspen/api/settings.py
  src/backend/aspen/api/views/auspice.py
  src/backend/aspen/api/views/auth.py
  src/backend/aspen/api/views/groups.py
  src/backend/aspen/api/views/locations.py
  src/backend/aspen/api/views/phylo_runs.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/sequences.py
  src/backend/aspen/api/views/tests/test_split.py
  src/backend/aspen/cli/db.py
  src/backend/aspen/cli/tests/data/public_identifiers.txt
  src/backend/aspen/cli/tests/test_db_cli.py
  src/backend/aspen/util/swipe.py
  src/backend/aspen/workflows/nextstrain_run/autorun_scheduled.py
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_scheduled.sh
  src/backend/aspen/workflows/nextstrain_run/run_test.sh
Labels: bug, backend

#1310 model code changes for pathogen support
  src/backend/aspen/database/models/pathogens.py
  src/backend/aspen/database/models/phylo_tree.py
  src/backend/aspen/database/models/sample.py
Labels: backend

#1315 [SC-190919] Metadata upload - loading spinner.
  src/frontend/src/components/FilePicker/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/index.tsx
  src/frontend/src/views/Upload/components/Samples/index.tsx
Labels: frontend

#1316 add backend split flags for pathogen
  src/backend/aspen/api/views/tests/test_split.py
  src/backend/etc/split.yml
Labels: backend

#1318 Add GISAID/GenBank submission template API endpoint
  src/backend/aspen/api/schemas/samples.py
  src/backend/aspen/api/utils/__init__.py
  src/backend/aspen/api/utils/sample.py
  src/backend/aspen/api/utils/tsv_streamer.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/tests/test_submission_templates.py
Labels: enhancement, help wanted, backend

#1317 Write pathogen info to phylo runs on creation
  src/backend/aspen/api/conftest.py
  src/backend/aspen/api/deps.py
  src/backend/aspen/api/schemas/phylo_runs.py
  src/backend/aspen/api/utils/fasta_streamer.py
  src/backend/aspen/api/utils/sample.py
  src/backend/aspen/api/views/phylo_runs.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/sequences.py
  src/backend/aspen/api/views/tests/test_create_phylo_runs.py
  src/backend/aspen/api/views/tests/test_pathogens.py
  src/backend/aspen/api/views/tests/test_sequences.py
  src/backend/aspen/database/models/pathogens.py
  src/backend/aspen/test_infra/models/pathogen_repo_config.py
  src/backend/aspen/test_infra/models/sample.py
  src/backend/aspen/workflows/nextstrain_run/autorun_scheduled.py
  src/backend/database_migrations/versions/20220902_001655_bump_pathogen_sequence.py
  src/backend/scripts/setup_localdata.py
Labels: backend

#1322 Gisaid/Genbank download tweaks
  .pre-commit-config.yaml
  src/backend/aspen/api/utils/tsv_streamer.py
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/style.ts
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/views/Account/index.tsx
Labels: frontend

#1325 Centralize location for pathogen prefix replacement
  src/backend/aspen/api/utils/__init__.py
  src/backend/aspen/api/utils/fasta_streamer.py
  src/backend/aspen/api/utils/sample.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/sequences.py
  src/backend/aspen/api/views/tests/test_submission_templates.py
Labels: backend

#1323 Use server date for GISAID/GenBank submission template
  src/backend/aspen/api/schemas/samples.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/tests/test_submission_templates.py
Labels: backend, ez-pz

#1332 Handle missing location information for GISAID prepfile d/l
  src/backend/aspen/api/utils/sample.py
  src/backend/aspen/api/views/tests/test_submission_templates.py
Labels: bug, backend

#1328 Support pathogens in nextstrain runs
  src/backend/aspen/test_infra/models/pathogen.py
  src/backend/aspen/test_infra/models/phylo_tree.py
  src/backend/aspen/workflows/nextstrain_run/build_config.py
  src/backend/aspen/workflows/nextstrain_run/build_plugins/__init__.py
  src/backend/aspen/workflows/nextstrain_run/build_plugins/base_plugin.py
  src/backend/aspen/workflows/nextstrain_run/build_plugins/pathogen_plugins.py
  src/backend/aspen/workflows/nextstrain_run/build_plugins/type_plugins.py
  src/backend/aspen/workflows/nextstrain_run/builder_base.py
  src/backend/aspen/workflows/nextstrain_run/export.py
  src/backend/aspen/workflows/nextstrain_run/export_test.py
  src/backend/aspen/workflows/nextstrain_run/save.py
  src/backend/aspen/workflows/nextstrain_run/tests/test_export.py
Labels: enhancement, backend

#1330 Sync localdev db and alembic.
  src/backend/aspen/database/models/accessions.py
  src/backend/aspen/database/models/usergroup.py
  src/backend/database_migrations/versions/20220907_220840_synchronize_alembic.py
Labels: bug, backend

#1333 [SC-212962] Strip spaces from NS tree name
  src/frontend/src/components/TreeNameInput/index.tsx
Labels: frontend, ez-pz

#1321 [SC-210099, SC-210687]/Mock Sample API data
  src/frontend/.gitignore
  src/frontend/README-E2E.md
  src/frontend/README.md
  src/frontend/e2e/setup/local.config.ts
  src/frontend/e2e/setup/staging.config.ts
  src/frontend/e2e/tests/mock-api-data.spec.ts
  src/frontend/e2e/utils/general.ts
  src/frontend/e2e/utils/nexstraintree.ts
  src/frontend/e2e/utils/sample.ts
  src/frontend/jest/setup.ts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/tests/features/playwright.config.ts
Labels: tests, e2e

#1331 Add pathogens to old phylo trees/runs
  src/backend/aspen/api/conftest.py
  src/backend/aspen/api/views/tests/test_authz_policy.py
  src/backend/aspen/api/views/tests/test_create_phylo_runs.py
  src/backend/aspen/api/views/tests/test_create_samples.py
  src/backend/aspen/api/views/tests/test_delete_phylo_runs.py
  src/backend/aspen/api/views/tests/test_download_tree_sample_ids.py
  src/backend/aspen/api/views/tests/test_list_phylo_runs.py
  src/backend/aspen/api/views/tests/test_phylo_tree_rename.py
  src/backend/aspen/api/views/tests/test_routing.py
  src/backend/aspen/api/views/tests/test_samples.py
  src/backend/aspen/api/views/tests/test_sequences.py
  src/backend/aspen/api/views/tests/test_split.py
  src/backend/aspen/api/views/tests/test_submission_templates.py
  src/backend/aspen/api/views/tests/test_update_phylo_run_and_tree.py
  src/backend/aspen/database/models/phylo_tree.py
  src/backend/aspen/test_infra/models/pathogen.py
  src/backend/aspen/test_infra/models/pathogen_repo_config.py
  src/backend/aspen/test_infra/models/phylo_tree.py
  src/backend/aspen/workflows/nextstrain_run/tests/test_export.py
  src/backend/database_migrations/versions/20220907_225235_add_pathogens_to_all_trees.py
Labels: migration, backend

#1336 Update phylo runs and auspice endpoints to use pathogen info.
  src/backend/aspen/api/utils/phylo.py
  src/backend/aspen/api/views/auspice.py
  src/backend/aspen/api/views/phylo_runs.py
  src/backend/aspen/api/views/phylo_trees.py
  src/backend/aspen/api/views/tests/test_auspice.py
  src/backend/aspen/api/views/tests/test_create_phylo_runs.py
  src/backend/aspen/api/views/tests/test_download_phylo_tree.py
  src/backend/aspen/api/views/tests/test_download_tree_sample_ids.py
  src/backend/aspen/api/views/tests/test_list_phylo_runs.py
  src/backend/aspen/api/views/tests/test_phylo_tree_rename.py
  src/backend/aspen/api/views/tests/test_update_phylo_run_and_tree.py
Labels: enhancement, backend

#1334 [SC-210116] E2E tests for sample list filtering
  .gitignore
  src/frontend/.gitignore
  src/frontend/README.md
  src/frontend/e2e/fixtures/test_data.fa
  src/frontend/e2e/fixtures/test_data.fasta
  src/frontend/e2e/fixtures/test_data.gz
  src/frontend/e2e/fixtures/test_data.txt
  src/frontend/e2e/fixtures/test_data.zip
  src/frontend/e2e/pages/filter.ts
  src/frontend/e2e/setup/global-setup.ts
  src/frontend/e2e/staticFiles/security.test.ts
  src/frontend/e2e/tests/home.spec.ts
  src/frontend/e2e/tests/sample-filtering.spec.ts
  src/frontend/e2e/utils/constants.ts
  src/frontend/e2e/utils/login.ts
  src/frontend/e2e/utils/schemas/sampleData.ts
  src/frontend/e2e/utils/schemas/treeInfo.ts
  src/frontend/tests/features/data.test.ts
  src/frontend/tests/features/homepage.test.ts
  src/frontend/tests/features/utils/helpers.ts
  src/frontend/tests/features/utils/selectors.ts
  src/frontend/tests/fixtures/userInfo.ts
  src/frontend/tests/utils/archive/helpers.ts
  src/frontend/tests/utils/helpers.tsx
  src/frontend/tests/utils/serverHandlers.ts
  src/frontend/tsconfig.json
Labels: tests, e2e

#1347 Fix nextstrain output paths
  src/backend/aspen/util/swipe.py
Labels: bug, backend

#1342 Maya/211446 local split
  src/frontend/src/components/NavBar/components/AppNavBar/index.tsx
  src/frontend/src/components/Split/index.tsx
Labels: frontend, ez-pz

#1346 [SC-214165] modal to confirm navigation to Galago
  src/frontend/src/common/images/galago-logo-beta.png
  src/frontend/src/views/Data/components/GalagoConfirmationModal/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/OpenInGalagoButton/index.tsx
Labels: frontend

#1353 Homepage accessibility
  src/frontend/src/common/analytics/methods.ts
  src/frontend/src/common/images/form-submit-arrow.svg
  src/frontend/src/components/NavBar/components/StaticPageNavBar/index.tsx
  src/frontend/src/components/NavBar/components/StaticPageNavBar/style.ts
  src/frontend/src/views/LandingPageV2/components/Hero/components/HeroEmailForm/index.tsx
  src/frontend/src/views/LandingPageV2/components/Hero/components/HeroEmailForm/style.ts
  src/frontend/src/views/LandingPageV2/components/Hero/index.tsx
  src/frontend/src/views/LandingPageV2/components/QuoteSlider/components/Quote/index.tsx
  src/frontend/src/views/LandingPageV2/components/QuoteSlider/index.tsx
  src/frontend/src/views/LandingPageV2/components/UseCases/index.tsx
Labels: frontend

#1352 Make samples.pathogen_id required.
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/tests/test_authz_policy.py
  src/backend/aspen/api/views/tests/test_create_samples.py
  src/backend/aspen/api/views/tests/test_delete_phylo_runs.py
  src/backend/aspen/api/views/tests/test_download_tree_sample_ids.py
  src/backend/aspen/api/views/tests/test_list_phylo_runs.py
  src/backend/aspen/api/views/tests/test_phylo_tree_rename.py
  src/backend/aspen/api/views/tests/test_samples.py
  src/backend/aspen/api/views/tests/test_submission_templates.py
  src/backend/aspen/api/views/tests/test_update_phylo_run_and_tree.py
  src/backend/aspen/database/models/sample.py
  src/backend/aspen/database/models/tests/test_sequences.py
  src/backend/aspen/test_infra/models/sequences.py
  src/backend/aspen/workflows/nextstrain_run/tests/test_export.py
  src/backend/aspen/workflows/pangolin/tests/test_pangolin_workflow.py
  src/backend/aspen/workflows/transform_gisaid/tests/test_update_locations.py
  src/backend/database_migrations/versions/20220914_205721_make_sample_pathogen_required.py
Labels: backend, ez-pz

#1350 CORS handling to enable Galago usage
  src/backend/aspen/api/main.py
  src/backend/aspen/api/views/auspice.py
Labels: enhancement, backend

#1356 download links
  src/frontend/src/common/api/index.tsx
  src/frontend/src/views/Data/transforms.tsx
Labels: bug

#1358 Remove support for samples without an associated pathogen.
  .devcontainer/devcontainer.json
  src/backend/aspen/api/main.py
  src/backend/aspen/api/utils/sample.py
  src/backend/aspen/api/views/samples.py
Labels: backend

#1349 Test/sc 210103/upload sample
  src/frontend/e2e/fixtures/sampleData.fa
  src/frontend/e2e/fixtures/sampleData.fasta
  src/frontend/e2e/fixtures/sampleData.gz
  src/frontend/e2e/fixtures/sampleData.txt
  src/frontend/e2e/fixtures/sampleData.zip
  src/frontend/e2e/pages/upload.ts
  src/frontend/e2e/setup/global-setup.ts
  src/frontend/e2e/tests/home.spec.ts
  src/frontend/e2e/tests/sample.spec.ts
  src/frontend/e2e/tests/upload.spec.ts
  src/frontend/e2e/utils/schemas/sampleData.ts
  src/frontend/e2e/utils/schemas/uploadData.ts
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/ImportFile/index.tsx
  src/frontend/src/components/NavBar/components/RightNav/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/index.tsx
  src/frontend/src/views/Upload/components/Samples/index.tsx
Labels: tests, e2e

#1364 Dynamic tree link out based on destination
  src/frontend/src/common/utils/TreeModal/ConfirmButton/index.tsx
  src/frontend/src/views/Data/components/GalagoConfirmationModal/index.tsx
  src/frontend/src/views/Data/components/NextstrainConfirmationModal/index.tsx
Labels: enhancement, frontend

#1366 Add generalized lineage and qc tables to our db
  src/backend/aspen/database/models/__init__.py
  src/backend/aspen/database/models/lineages.py
  src/backend/aspen/database/models/pango_lineages.py
  src/backend/aspen/database/models/sample.py
  src/backend/database_migrations/versions/20220920_223031_support_qc_and_lineages.py
Labels: backend, ez-pz

#1363 add back E2E to CI
  .github/workflows/push-tests.yml
  .gitignore
  Makefile
  src/frontend/.env.local
  src/frontend/.eslintrc.js
  src/frontend/.gitignore
  src/frontend/Makefile
  src/frontend/e2e/setup/local.config.ts
  src/frontend/e2e/setup/staging.config.ts
  src/frontend/e2e/tests/home.spec.ts
  src/frontend/e2e/utils/general.ts
  src/frontend/e2e/utils/nexstraintree.ts
  src/frontend/e2e/utils/sample.ts
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: e2e

#1365 Maya/214169 galago error
  src/frontend/.eslintrc.js
  src/frontend/pages/_app.tsx
  src/frontend/src/common/components/library/data_subview/components/ContactUsLink/index.tsx
  src/frontend/src/common/components/library/data_subview/components/ContactUsLink/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/style.ts
  src/frontend/src/common/components/library/data_subview/components/DeleteSamplesConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DeleteTreeConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditTreeConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/style.ts
  src/frontend/src/common/redux/actions/index.ts
  src/frontend/src/common/redux/index.tsx
  src/frontend/src/common/redux/selectors/index.ts
  src/frontend/src/common/redux/types.ts
  src/frontend/src/components/Notification/index.tsx
  src/frontend/src/components/NotificationManager/components/CreateNSTreeFailureNotif/index.tsx
  src/frontend/src/components/NotificationManager/components/CreateNSTreeSuccessNotif/index.tsx
  src/frontend/src/components/NotificationManager/components/CreateNSTreeSuccessNotif/style.ts
  src/frontend/src/components/NotificationManager/components/DownloadFilesFailureNotif/index.tsx
  src/frontend/src/components/NotificationManager/components/Notification/index.tsx
  src/frontend/src/components/NotificationManager/components/SendInviteFailureNotif/index.tsx
  src/frontend/src/components/NotificationManager/components/SendInviteFailureNotif/style.ts
  src/frontend/src/components/NotificationManager/components/SendInviteSuccessNotif/index.tsx
  src/frontend/src/components/NotificationManager/components/UsherPlacementSuccessNotif/index.tsx
  src/frontend/src/components/NotificationManager/index.tsx
  src/frontend/src/components/NotificationManager/style.ts
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/InviteModal/index.tsx
Labels: frontend

#1369 [SC-215053] Base page object model
  src/frontend/e2e/pages/basePage.ts
Labels: e2e

#1368 [SC-215051] Add tdata-test-id to elements
  src/frontend/babel.config.js
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/ImportFile/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditTreeConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/TreeSelectionMenu/index.tsx
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/components/FilterPanel/components/DateFilter/index.tsx
  src/frontend/src/components/FilterPanel/components/GenomeRecoveryFilter/index.tsx
  src/frontend/src/components/FilterPanel/components/LineageFilter/index.tsx
  src/frontend/src/components/FilterPanel/index.tsx
  src/frontend/src/views/Data/cellRenderers.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/MoreActionsMenu/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/OpenInNextstrainButton/index.tsx
  src/frontend/src/views/Data/components/TreeTableNameCell/index.tsx
  src/frontend/src/views/Data/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/index.tsx
  src/frontend/src/views/Upload/components/Metadata/index.tsx
  src/frontend/src/views/Upload/components/Samples/components/Table/index.tsx
  src/frontend/src/views/Upload/components/Samples/index.tsx
Labels: e2e

#1373 Update czifui / SDS to 7.16.1
  .nvmrc
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: frontend, dependencies

#1367 211446 local pathogen traffic
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
  src/frontend/src/common/queries/pathogens.ts
  src/frontend/src/common/redux/types.ts
  src/frontend/src/components/NavBar/components/RightNav/components/UserMenu/index.tsx
  src/frontend/src/components/Split/index.tsx
  src/frontend/src/components/Split/pathogenFeatureSplits.ts
  src/frontend/src/components/Split/types.ts
  src/frontend/src/views/Data/components/TreeActionMenu/index.tsx
Labels: frontend

#1378 Maya/211276 split pathogen traffic
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
  src/frontend/src/components/NavBar/components/RightNav/components/UserMenu/index.tsx
  src/frontend/src/components/Split/SplitPathogenWrapper.tsx
  src/frontend/src/components/Split/index.tsx
  src/frontend/src/components/Split/pathogenSplitConfig.ts
  src/frontend/src/components/Split/types.ts
  src/frontend/src/components/Split/util.ts
  src/frontend/src/views/Data/components/TreeActionMenu/index.tsx
Labels: enhancement, frontend

#1377 [SC-216017] copy changes to tree creation modal phylo trees table
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/RadioLabel/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/RadioLabel/strings.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFilteringTooltip/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFilteringTooltip/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/TargetedFiltering/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/TargetedFiltering/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/style.ts
  src/frontend/src/components/Split/index.tsx
  src/frontend/src/components/Split/types.ts
  src/frontend/src/views/Data/components/TreeTypeTooltip/index.tsx
Labels: frontend

#1379 replace router path instead of adding to it when using approuting to fix the brower back button
  src/frontend/src/common/appRouting.ts
Labels: bug, frontend
