Repository chanzuckerberg/czgenepi, pull requests merged in 2022-04, with the labels that each got.

#1001 move hero image into its own file
  src/frontend/next.config.js
  src/frontend/src/common/images/landingv2-hero.svg
  src/frontend/src/views/LandingPageV2/components/Hero/index.tsx
  src/frontend/src/views/LandingPageV2/components/Hero/style.ts
Labels: frontend, javascript

#1003 Endpoint for pulling Pango lineages
  src/backend/aspen/api/main.py
  src/backend/aspen/api/schemas/pango_lineages.py
  src/backend/aspen/api/views/lineages.py
  src/backend/aspen/database/models/__init__.py
  src/backend/aspen/database/models/pango_lineages.py
  src/backend/aspen/workflows/import_pango_lineages/load_lineages.py
  src/cli/aspencli.py
Labels: enhancement, backend

#1004 sds vars in homepage
  src/frontend/src/views/LandingPageV2/components/Footer/style.ts
  src/frontend/src/views/LandingPageV2/components/Hero/style.ts
  src/frontend/src/views/LandingPageV2/components/IntroSection/style.ts
  src/frontend/src/views/LandingPageV2/components/PartnersSection/style.ts
  src/frontend/src/views/LandingPageV2/components/QuoteSlider/style.ts
Labels: frontend

#1002 Maya/187986 remove old homepage
  docs/frontend/README.md
  src/frontend/pages/landingv2.tsx
  src/frontend/src/views/Homepage/ConsensusGenomes.svg
  src/frontend/src/views/Homepage/index.test.tsx
  src/frontend/src/views/Homepage/index.tsx
  src/frontend/src/views/Homepage/style.ts
Labels: frontend, javascript

#1008 Rely on Poetry for aspen install
  Makefile
  src/backend/Dockerfile
Labels: bug, backend

#1009 Change key for saving pango version
  src/backend/aspen/workflows/pangolin/save.py
  src/backend/aspen/workflows/pangolin/tests/data/lineage_report.csv
  src/backend/aspen/workflows/pangolin/tests/test_pangolin_workflow.py
Labels: bug

#1010 Update tooltip label
  src/frontend/src/views/Data/components/LineageTooltip/index.tsx
Labels: bug

#1013 Update ipython to ^7.31.1 fix security vuln
  src/backend/aspen/database/models/enum.py
  src/backend/poetry.lock
  src/backend/pyproject.toml
Labels: backend, dependencies

#1012 Maya/188315 landing page header
  src/frontend/pages/_app.tsx
  src/frontend/src/components/NavBarV2/index.tsx
  src/frontend/src/components/NavBarV2/style.ts
Labels: frontend

#1015 Update msw to ^0.39.2 to get xmldom >= 0.7.0
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: frontend, dependencies

#1014 Update minimist to 1.2.6
  src/frontend/package-lock.json
Labels: frontend, dependencies, ez-pz

#1020 add more threads to pangolin job
  src/backend/aspen/workflows/pangolin/run_pangolin.sh
Labels: enhancement, ez-pz

#1011 Maya/183171 fasi api phylo runs
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DeleteTreeConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditTreeConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/components/library/data_table/index.tsx
  src/frontend/src/common/constants/types.ts
  src/frontend/src/common/queries/entities.ts
  src/frontend/src/common/queries/phyloRuns.ts
  src/frontend/src/common/queries/trees.ts
  src/frontend/src/common/types/bioinformatics.d.ts
  src/frontend/src/common/types/table.d.ts
  src/frontend/src/views/Data/cellRenderers.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/MoreActionsMenu/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/OpenInNextstrainButton/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/index.tsx
  src/frontend/src/views/Data/components/TreeTableNameCell/index.tsx
  src/frontend/src/views/Data/index.tsx
  src/frontend/src/views/Data/transforms.tsx
  src/frontend/tests/features/data.test.ts
Labels: frontend, javascript

#1021 Add distinct region, country level locations to location import script
  src/backend/aspen/workflows/import_locations/save.py
Labels: backend

#1016 sample edit webform
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/index.tsx
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/components/DownloadMetadataTemplate/common/constants.ts
  src/frontend/src/components/WebformTable/common/constants.ts
  src/frontend/src/components/WebformTable/common/types.ts
  src/frontend/src/components/WebformTable/components/EditTable/index.tsx
  src/frontend/src/components/WebformTable/components/Row/components/FreeTextField/index.tsx
  src/frontend/src/components/WebformTable/components/Row/components/FreeTextField/style.ts
  src/frontend/src/components/WebformTable/components/Row/components/LocationField/index.tsx
  src/frontend/src/components/WebformTable/components/Row/components/LocationField/style.ts
  src/frontend/src/components/WebformTable/components/Row/components/ToggleField/index.tsx
  src/frontend/src/components/WebformTable/components/Row/components/ToggleField/style.ts
  src/frontend/src/components/WebformTable/components/Row/components/UploadDateField/index.tsx
  src/frontend/src/components/WebformTable/components/Row/components/common/ApplyToAllColumn/index.tsx
  src/frontend/src/components/WebformTable/components/Row/components/common/ApplyToAllColumn/style.ts
  src/frontend/src/components/WebformTable/components/Row/index.tsx
  src/frontend/src/components/WebformTable/components/Row/style.ts
  src/frontend/src/components/WebformTable/components/UploadTable/index.tsx
  src/frontend/src/components/WebformTable/index.tsx
  src/frontend/src/components/WebformTable/style.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/Error.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/parseFile.ts
  src/frontend/src/views/Upload/components/Metadata/components/Table/index.tsx
  src/frontend/src/views/Upload/components/Metadata/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Table/components/Row/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Upload/index.tsx
  src/frontend/src/views/Upload/components/Samples/components/AlertTable/index.tsx
  src/frontend/src/views/Upload/components/Samples/utils.ts
  src/frontend/src/views/Upload/components/common/types.ts
  src/frontend/src/views/Upload/components/common/utils.ts
  src/frontend/src/views/Upload/index.tsx
Labels: frontend

#1024 move automatic tree run earlier
  .happy/terraform/modules/ecs-stack/county_runs.tf
Labels: ez-pz

#1023 Maya/warnings
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/MissingSampleAlert/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/MissingSampleAlert/style.ts
  src/frontend/src/common/utils/strUtils.ts
  src/frontend/src/components/AlertAccordion/index.tsx
  src/frontend/src/components/AlertAccordion/style.ts
  src/frontend/src/components/WebformTable/common/types.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/Error.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/common/pluralize.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/common/style.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/warnings.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/index.tsx
  src/frontend/src/views/Upload/components/Review/index.tsx
  src/frontend/src/views/Upload/components/Samples/components/AlertTable/index.tsx
  src/frontend/src/views/Upload/components/Samples/index.tsx
Labels: frontend, javascript

#1026 upadte copy on creatensmodal
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/RadioLabel/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/RadioLabel/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/components/InputInstructions/index.tsx
Labels: design feedback, frontend

#1028 skip diagnostics for tree build
  src/backend/aspen/workflows/nextstrain_run/builds_templates/mega_template.yaml
Labels: bug

#1032 Fix gisaid samples in tsv download
  src/backend/aspen/api/utils/tsv_streamer.py
  src/backend/aspen/api/views/phylo_trees.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/tests/test_download_tree_sample_ids.py
  src/cli/aspencli.py
Labels: bug, backend, ez-pz

#1034 set region to global for tree build
  src/backend/aspen/workflows/nextstrain_run/builder_base.py
  src/backend/aspen/workflows/nextstrain_run/builds_templates/mega_template.yaml
Labels: bug, backend

#1036 add another bullet back in
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/components/InputInstructions/index.tsx
Labels: design feedback, frontend

#1031 add new warnings and error for upload flow
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/ErrorsAndWarnings/components/DuplicateIdsError/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/ErrorsAndWarnings/components/DuplicateIdsError/style.ts
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/ErrorsAndWarnings/components/WarningBadLocationFormat/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/ErrorsAndWarnings/components/WarningUnknownDataFields/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/ErrorsAndWarnings/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/index.tsx
  src/frontend/src/common/utils/strUtils.ts
  src/frontend/src/components/WebformTable/common/types.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/Error.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/common/ProblemTable.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/common/style.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/warnings.tsx
  src/frontend/src/views/Upload/components/Samples/components/AlertTable/index.tsx
Labels: frontend

#1019 track metadata changes
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/utils.ts
  src/frontend/src/components/WebformTable/index.tsx
  src/frontend/src/views/Upload/components/Metadata/index.tsx
Labels: frontend

#1039 Maya/184616 date range menu
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/style.ts
  src/frontend/src/common/types/dateFilter.d.ts
  src/frontend/src/common/utils/dateUtils.tsx
  src/frontend/src/components/DateField/index.tsx
  src/frontend/src/components/DateFilterMenu/constants.ts
  src/frontend/src/components/DateFilterMenu/index.tsx
  src/frontend/src/components/DateFilterMenu/style.ts
  src/frontend/src/components/FilterPanel/components/CollectionDateFilter/index.tsx
  src/frontend/src/components/FilterPanel/components/DateFilter/components/DateChip/index.tsx
  src/frontend/src/components/FilterPanel/components/DateFilter/components/DateChip/style.ts
  src/frontend/src/components/FilterPanel/components/DateFilter/index.tsx
  src/frontend/src/components/FilterPanel/components/DateFilter/style.ts
  src/frontend/src/components/FilterPanel/components/UploadDateFilter/index.tsx
  src/frontend/src/components/FilterPanel/index.tsx
  src/frontend/src/components/FilterPanel/style.ts
Labels: frontend

#1040 Maya/184616 date range menu
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/components/CollectionDateFilter/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/components/CollectionDateFilter/style.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/index.tsx
  src/frontend/src/common/types/dateFilter.d.ts
  src/frontend/src/common/utils/dateUtils.tsx
  src/frontend/src/components/DateFilterMenu/constants.ts
  src/frontend/src/components/DateFilterMenu/index.tsx
Labels: enhancement, frontend

#1033 Add metadata for Auspice/Nextstrain to color code nearest countries on a group's tree
  Makefile
  src/backend/aspen/api/conftest.py
  src/backend/aspen/api/utils/phylo.py
  src/backend/aspen/api/views/tests/data/location_data.py
  src/backend/aspen/api/views/tests/data/phylo_tree_data.py
  src/backend/aspen/api/views/tests/test_auspice.py
  src/backend/aspen/api/views/tests/test_download_phylo_tree.py
  src/backend/aspen/api/views/tests/test_download_tree_sample_ids.py
  src/backend/aspen/api/views/tests/test_phylo_tree_rename.py
  src/backend/aspen/api/views/tests/utils/phylo_tree_utils.py
  src/backend/aspen/test_infra/models/location.py
  src/backend/database_migrations/versions/20220419_110151_move_earthdistance_and_cube_extensions_.py
  src/cli/aspencli.py
Labels: enhancement, migration, backend

#1027 Lineage filter for Sample Filtering
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/RadioLabel/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/queries/entities.ts
  src/frontend/src/common/queries/lineages.ts
Labels: enhancement, frontend

#1042 Support scorpio call/score.
  docker-compose.yml
  src/backend/aspen/api/schemas/samples.py
  src/backend/aspen/api/utils/sample.py
  src/backend/aspen/api/views/tests/test_samples.py
  src/backend/aspen/database/models/sequences.py
  src/backend/aspen/test_infra/models/sequences.py
  src/backend/aspen/workflows/pangolin/save.py
  src/backend/database_migrations/versions/20220425_225456_save_pango_json.py
Labels: backend, ez-pz

#1045 Maya/fix upload
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/views/Upload/components/Review/components/Table/components/Row/index.tsx
Labels: bug, frontend, ez-pz

#1047 fix automatic rdev action
  .github/workflows/push-rdev.yml
Labels: ez-pz

#1043 filter trees by lineage and date
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/RadioLabel/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/components/CollectionDateFilter/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/queries/trees.ts
Labels: enhancement, frontend

#1049 Maya/191869 pango tooltip
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/common/types/bioinformatics.d.ts
  src/frontend/src/views/Data/cellRenderers.tsx
  src/frontend/src/views/Data/components/LineageTooltip/index.tsx
  src/frontend/src/views/Data/headers.tsx
Labels: enhancement, frontend

#1050 Remove unused phylo_trees endpoint
  src/backend/aspen/app/views/phylo_trees.py
  src/backend/aspen/app/views/tests/test_phylo_tree_view.py
  src/backend/aspen/main.py
Labels: backend, ez-pz

#1054 unknown fields and missing samples warnings
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/ImportFile/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/ImportFile/parseFile.ts
  src/frontend/src/components/ImportFileWarnings/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/warnings.tsx
Labels: enhancement, frontend

#1056 sample edit lose progress modal
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/ImportFile/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/ImportFile/parseFile.ts
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/LoseProgressModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/index.tsx
  src/frontend/src/components/ConfirmDialog/index.tsx
Labels: enhancement, frontend

#1053 Don't use the old usergroup api endpoint.
  src/frontend/src/common/components/library/data_subview/components/DeleteSamplesConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
  src/frontend/src/common/queries/auth.ts
  src/frontend/src/common/queries/entities.ts
  src/frontend/src/common/types/table.d.ts
  src/frontend/src/common/types/user.d.ts
  src/frontend/src/components/AcknowledgePolicyChanges/index.tsx
  src/frontend/src/components/NavBar/components/RightNav/index.tsx
  src/frontend/src/components/NavBar/index.tsx
  src/frontend/src/components/NavBarV2/index.tsx
  src/frontend/src/components/Split/index.tsx
  src/frontend/src/views/AgreeTerms/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/MoreActionsMenu/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/index.tsx
  src/frontend/src/views/Upload/components/Review/index.tsx
Labels: frontend

#1055 Migrate policy update endpoint to fastapi
  src/backend/aspen/api/schemas/users.py
  src/backend/aspen/api/views/tests/test_users.py
  src/backend/aspen/api/views/users.py
  src/cli/aspencli.py
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/queries/auth.ts
  src/frontend/tests/utils/serverHandlers.ts
Labels: frontend, backend, ez-pz

#1057 move instructions into its own component
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/EditSampleMetadataInstructions/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/EditSampleMetadataInstructions/style.ts
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/style.ts
Labels: ez-pz

#1006 Fastapi sequences download
  src/backend/aspen/api/main.py
  src/backend/aspen/api/schemas/sequences.py
  src/backend/aspen/api/utils/__init__.py
  src/backend/aspen/api/utils/authz.py
  src/backend/aspen/api/utils/fasta_streamer.py
  src/backend/aspen/api/views/sequences.py
  src/backend/aspen/api/views/tests/test_sequences.py
  src/backend/aspen/app/views/sample.py
  src/backend/aspen/main.py
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/queries/samples.ts
Labels: backend
