Repository chanzuckerberg/czgenepi, pull requests merged in 2022-01, with the labels that each got.

#875 Sample route location migration
  src/backend/aspen/api/schemas/locations.py
  src/backend/aspen/api/schemas/samples.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/tests/test_create_phylo_runs.py
  src/backend/aspen/api/views/tests/test_delete_phylo_runs.py
  src/backend/aspen/api/views/tests/test_list_phylo_runs.py
  src/backend/aspen/api/views/tests/test_samples.py
  src/backend/aspen/app/views/sample.py
  src/backend/aspen/app/views/tests/test_auspice_redirect.py
  src/backend/aspen/app/views/tests/test_phylo_tree_rename.py
  src/backend/aspen/app/views/tests/test_phylo_tree_view.py
  src/backend/aspen/app/views/tests/test_prepare_sequences_download.py
  src/backend/aspen/app/views/tests/test_samples_view.py
  src/backend/aspen/app/views/tests/test_tree_metadata_download.py
  src/backend/aspen/database/models/locations.py
  src/backend/aspen/database/models/sample.py
  src/backend/aspen/database/models/tests/test_sequences.py
  src/backend/aspen/test_infra/models/location.py
  src/backend/aspen/test_infra/models/sample.py
  src/backend/aspen/test_infra/models/sequences.py
  src/backend/aspen/workflows/nextstrain_run/export.py
  src/backend/aspen/workflows/nextstrain_run/tests/test_export.py
  src/backend/aspen/workflows/pangolin/tests/test_pangolin_workflow.py
  src/backend/database_migrations/versions/20211222_115458_migrate_sample_locations_to_location_id.py
  src/backend/scripts/setup_localdata.py
  src/frontend/src/views/Data/cellRenderers.tsx
Labels: migration, frontend, backend

#890 Sample list perf improvements
  src/backend/aspen/api/main.py
  src/backend/aspen/api/schemas/samples.py
  src/backend/aspen/api/views/samples.py
  src/backend/poetry.lock
  src/backend/pyproject.toml
Labels: enhancement, backend

#901 add staging auto tree
  .happy/terraform/modules/ecs-stack/county_runs.tf
Labels: backend

#892 reconfigure auto build overview tree
  .happy/terraform/modules/ecs-stack/county_runs.tf
  src/backend/aspen/cli/db.py
  src/backend/aspen/workflows/nextstrain_run/build_config.py
  src/backend/aspen/workflows/nextstrain_run/builder_base.py
  src/backend/aspen/workflows/nextstrain_run/builds_templates/mega_template.yaml
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_scheduled.sh
  src/backend/aspen/workflows/nextstrain_run/tests/test_export.py
Labels: backend

#904 use marin for staging run
  .happy/terraform/modules/ecs-stack/county_runs.tf
Labels: backend

#886 Phylo Run/Tree update endpoint
  src/backend/aspen/api/schemas/phylo_runs.py
  src/backend/aspen/api/views/phylo_runs.py
  src/backend/aspen/api/views/tests/test_update_phylo_run_and_tree.py
  src/backend/aspen/app/views/tests/test_samples_view.py
Labels: backend

#895 Maya/test infra
  src/frontend/Makefile
  src/frontend/jest/setup.ts
  src/frontend/src/views/Homepage/index.test.tsx
Labels: frontend

#896 Maya/177246 use phylo runs v2
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DeleteTreeConfirmationModal/index.tsx
  src/frontend/src/common/queries/trees.ts
  src/frontend/src/common/types/bioinformatics.d.ts
  src/frontend/src/views/Data/cellRenderers.tsx
  src/frontend/src/views/Data/index.tsx
Labels: frontend

#898 fix sample filters.. apply date filters from midnight until 115959 fo…
  src/frontend/src/components/FilterPanel/components/CollectionDateFilter/index.tsx
  src/frontend/src/components/FilterPanel/components/DateFilter/index.tsx
  src/frontend/src/components/FilterPanel/components/UploadDateFilter/index.tsx
  src/frontend/src/components/FilterPanel/index.tsx
Labels: bug, frontend

#906 remove autobuild language from overview tree tooltip
  src/frontend/src/common/utils/featureFlags.tsx
  src/frontend/src/views/Data/components/TreeTypeTooltip/index.tsx
Labels: enhancement, frontend

#910 Revert to older ncov versions
  src/backend/Dockerfile.gisaid
  src/backend/Dockerfile.nextstrain
Labels: bug, dependencies

#912 Update contact email addresses to reflect our name change.
  src/frontend/src/common/components/library/data_subview/components/ContactUsLink/index.tsx
  src/frontend/src/common/routes.ts
  src/frontend/src/views/Faq/index.tsx
  src/frontend/src/views/Privacy/index.tsx
  src/frontend/src/views/Terms/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Upload/index.tsx
Labels: good first issue

#911 Add bulk samples update endpoint
  src/backend/aspen/api/schemas/samples.py
  src/backend/aspen/api/views/phylo_runs.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/tests/test_samples.py
  src/cli/aspencli.py
  src/cli/requirements.txt
Labels: enhancement, backend

#914 Associate a bot user account with all automated tree builds.
  src/backend/aspen/cli/db.py
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_scheduled.sh
  src/backend/database_migrations/versions/20220114_192608_set_autoubuild_tree_user.py
Labels: enhancement, backend

#917 Support ondemand overview trees
  .happy/terraform/modules/ecs-stack/county_runs.tf
  .happy/terraform/modules/sfn_config/nextstrain-dbg.wdl
  .happy/terraform/modules/sfn_config/nextstrain.wdl
  src/backend/aspen/api/schemas/phylo_runs.py
  src/backend/aspen/api/views/phylo_runs.py
  src/backend/aspen/api/views/tests/test_create_phylo_runs.py
  src/backend/aspen/workflows/nextstrain_run/build_config.py
  src/backend/aspen/workflows/nextstrain_run/export.py
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_scheduled.sh
  src/backend/aspen/workflows/nextstrain_run/tests/test_export.py
  src/backend/poetry.lock
  src/backend/pyproject.toml
  src/backend/scripts/setup_localdata.py
  src/cli/aspencli.py
Labels: enhancement, backend

#920 use swipe module
  .happy/terraform/modules/ecs-stack/county_runs.tf
  .happy/terraform/modules/ecs-stack/main.tf
Labels: backend

#919 Add accessions table and update Sample Gisaid ISL on Gisaid Ingest
  .happy/terraform/modules/sfn_config/gisaid.wdl
  src/backend/aspen/database/models/__init__.py
  src/backend/aspen/database/models/accessions.py
  src/backend/aspen/database/models/entity.py
  src/backend/aspen/database/models/sample.py
  src/backend/aspen/workflows/import_gisaid_isls/__init__.py
  src/backend/aspen/workflows/import_gisaid_isls/save.py
  src/backend/database_migrations/versions/20220119_153132_add_sample_accessions_table.py
Labels: migration, backend

#916 Metadata TSV Upload Kitchen Sink
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/queries/entities.ts
  src/frontend/src/common/queries/locations.ts
  src/frontend/src/common/types/location.d.ts
  src/frontend/src/common/utils/locationUtils.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/Error.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/Warning.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/common/style.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/warnings.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/constants.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/parseFile.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/prepMetadataTemplate.ts
  src/frontend/src/views/Upload/components/Metadata/components/Table/components/Row/components/ToggleField/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/Table/components/Row/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/Table/index.tsx
  src/frontend/src/views/Upload/components/Metadata/index.tsx
  src/frontend/src/views/Upload/components/common/constants.ts
  src/frontend/src/views/Upload/components/common/types.ts
  src/frontend/src/views/Upload/index.tsx
Labels: frontend

#921 Danrlu/update ncov
  .happy/terraform/modules/ecs-stack/county_runs.tf
  .happy/terraform/modules/sfn_config/gisaid.wdl
  src/backend/Dockerfile.gisaid
  src/backend/Dockerfile.nextstrain
  src/backend/aspen/workflows/nextstrain_run/patches/seqtk.patch
Labels: enhancement, backend

#925 Add subheaders for sample collection_location
  src/frontend/src/common/types/bioinformatics.d.ts
  src/frontend/src/views/Data/headers.tsx
Labels: bug, frontend, javascript

#922 Update APIs that use Sample accessions
  src/backend/aspen/api/utils/sample.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/tests/test_list_phylo_runs.py
  src/backend/aspen/api/views/tests/test_samples.py
  src/backend/aspen/app/views/sample.py
  src/backend/aspen/app/views/tests/test_phylo_tree_view.py
  src/backend/aspen/app/views/tests/test_prepare_sequences_download.py
  src/backend/aspen/app/views/tests/test_samples_view.py
  src/backend/aspen/database/models/__init__.py
  src/backend/aspen/database/models/accessions.py
  src/backend/aspen/database/models/entity.py
  src/backend/aspen/test_infra/models/accession_workflow.py
  src/backend/aspen/test_infra/models/gisaid_accession.py
  src/backend/aspen/test_infra/models/sample.py
  src/backend/aspen/test_infra/models/sequences.py
  src/backend/aspen/workflows/nextstrain_run/export.py
  src/backend/aspen/workflows/pangolin/tests/test_pangolin_workflow.py
  src/backend/database_migrations/versions/20210728_164537_add_group_location.py
  src/backend/database_migrations/versions/20210728_213140_backfill_gisaid_epi_ids.py
  src/backend/database_migrations/versions/20220121_112143_drop_old_accession_workflows.py
  src/cli/aspencli.py
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/parseFile.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/prepMetadataTemplate.ts
  src/frontend/src/views/Upload/components/Metadata/components/Table/components/Row/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/Table/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Table/components/Row/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Table/index.tsx
  src/frontend/src/views/Upload/components/common/constants.ts
  src/frontend/src/views/Upload/components/common/types.ts
Labels: migration, frontend, backend

#927 Support additional filetype uploads
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Instructions/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/index.tsx
  src/frontend/src/views/Upload/components/Samples/index.tsx
  src/frontend/src/views/Upload/components/Samples/utils.ts
Labels: enhancement, frontend

#930 Fix bug where GISAID ISLs were not included in metadata downloads
  src/frontend/src/common/components/library/data_subview/index.tsx
Labels: bug, frontend, javascript

#932 add ondemand overview tree
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/RadioLabel/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/queries/trees.ts
  src/frontend/src/common/utils/featureFlags.tsx
  src/frontend/src/views/Data/components/TreeTypeTooltip/index.tsx
Labels: frontend

#934 Branding changes to CZ Gen Epi
  docker/aspen-batch/Dockerfile
  docker/aspen-batch/docker-entrypoint.sh
  docs/REMOTE_DEV.md
  docs/backend/workflows.md
  docs/general/how-to-upgrade-dependencies.md
  scripts/happy-deploy.py
  src/backend/Dockerfile.gisaid
  src/backend/Dockerfile.nextstrain
  src/backend/pyproject.toml
  src/frontend/src/common/routes.ts
Labels: documentation, enhancement, frontend, backend
