Repository chanzuckerberg/czgenepi, pull requests merged in 2022-05, with the labels that each got.

#1060 Segment Analytics Initialization -- TEMPORARY
  .happy/terraform/modules/ecs-stack/main.tf
  src/frontend/next.config.js
  src/frontend/pages/_app.tsx
  src/frontend/public/segmentInitScript.js
  src/frontend/src/common/analytics/SegmentInitializer.tsx
  src/frontend/src/common/constants/ENV.js
Labels: enhancement, frontend, javascript

#1065 Disable Segment analytics until ready
  src/frontend/pages/_app.tsx
  src/frontend/public/segmentInitScript.js
  src/frontend/src/common/analytics/SegmentInitializer.tsx
Labels: frontend

#1064 Remove unused db tables.
  src/backend/database_migrations/versions/20220502_171903_clean_up_unused_tables.py
Labels: backend, ez-pz

#1063 upgrade react csv
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/DownloadMetadataTemplate/index.tsx
Labels: frontend, dependencies

#1066 Automate scheduled group runs
  .happy/terraform/modules/ecs-stack/county_runs.tf
  .happy/terraform/modules/ecs-stack/main.tf
  .happy/terraform/modules/sfn_config/nextstrain-autorun.wdl
  src/backend/aspen/database/models/usergroup.py
  src/backend/aspen/workflows/nextstrain_run/autorun_scheduled.py
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_autorun.sh
  src/backend/database_migrations/versions/20220502_215324_add_tree_parameters_column_to_groups.py
  src/backend/scripts/setup_dev_data.sh
Labels: migration, backend

#1068 lint all fe files
  src/frontend/package.json
Labels: frontend, ez-pz

#1067 Add a `group_id` column to the entities table.
  src/backend/aspen/database/models/entity.py
  src/backend/aspen/workflows/nextstrain_run/save.py
  src/backend/database_migrations/versions/20220503_215541_copy_group_id_to_entities.py
Labels: backend, ez-pz

#1072 Fix dev bug in table cleanup migration
  src/backend/database_migrations/versions/20220502_171903_clean_up_unused_tables.py
Labels: backend

#1073 remove unused files
  src/backend/aspen/workflows/nextstrain_run/builds_templates/mega_template.yaml
  src/backend/aspen/workflows/nextstrain_run/nextstrain_profile/ca_regions.csv
  src/backend/aspen/workflows/nextstrain_run/nextstrain_profile/county_coordinates.tsv
  src/backend/aspen/workflows/nextstrain_run/nextstrain_profile/lat_longs.tsv
  src/backend/aspen/workflows/nextstrain_run/nextstrain_profile/ordering.tsv
  src/backend/aspen/workflows/nextstrain_run/nextstrain_profile/subsampling_ranges.smk
Labels: backend, ez-pz

#1071 Maya/184616 date range menu
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/RadioLabel/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/components/CollectionDateFilter/style.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/components/InputInstructions/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/style.ts
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/EditSampleMetadataInstructions/index.tsx
  src/frontend/src/common/styles/theme.ts
  src/frontend/src/components/CollapsibleInstructions/index.tsx
  src/frontend/src/components/CollapsibleInstructions/style.ts
  src/frontend/src/components/TreeNameInput/index.tsx
Labels: enhancement, frontend

#1074 Rename aspencli user create parameters to be consistent
  src/cli/aspencli.py
Labels: ez-pz

#1077 Maya/180631 sample review
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/EditSamplesReviewDialog/components/Table/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/EditSamplesReviewDialog/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/EditSamplesReviewDialog/style.ts
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/index.tsx
Labels: enhancement, frontend

#1078 backend for trees with no user selection
  src/backend/aspen/workflows/nextstrain_run/build_config.py
Labels: backend, ez-pz

#1076 Don't json-quote pango_lineages; add debug option to dump yaml config
  src/backend/aspen/workflows/nextstrain_run/build_config.py
  src/backend/aspen/workflows/nextstrain_run/export.py
  src/backend/aspen/workflows/nextstrain_run/tests/test_export.py
Labels: bug, backend

#1075 turn on sample filtering
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/RadioLabel/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/components/InputInstructions/index.tsx
Labels: enhancement, frontend

#1079 disable edit samples when over 100
  src/frontend/src/common/components/library/data_subview/components/MoreActionMenu/index.tsx
  src/frontend/src/common/components/library/data_subview/index.tsx
Labels: frontend

#1069 Clean up flask usergroup code
  src/backend/aspen/api/schemas/users.py
  src/backend/aspen/api/views/users.py
  src/backend/aspen/app/views/tests/__init__.py
  src/backend/aspen/app/views/tests/test_usergroup_views.py
  src/backend/aspen/app/views/usergroup.py
  src/backend/aspen/main.py
  src/cli/aspencli.py
Labels: backend

#1061 edit sample tsv import fixes
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/ImportFile/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/ImportFile/parseFile.ts
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/ImportFile/utils.ts
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/index.tsx
  src/frontend/src/components/FilePicker/index.tsx
  src/frontend/src/components/ImportFileWarnings/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/warnings.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/parseFile.ts
Labels: frontend

#1084 We can initiate runs without samples now.
  src/backend/aspen/api/views/phylo_runs.py
Labels: backend, ez-pz

#1083 tsv exit if errors
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/ImportFile/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/index.tsx
  src/frontend/src/components/ImportFileWarnings/index.tsx
Labels: frontend

#1085 allow no smaple tress for overview and noncontextualized trees
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/CreateTreeButton/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
Labels: enhancement, frontend

#1087 upload status dialogs
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/EditSampleStatusModal/components/FailureView/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/EditSampleStatusModal/components/FailureView/style.ts
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/EditSampleStatusModal/components/LoadingView/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/EditSampleStatusModal/components/LoadingView/style.ts
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/EditSampleStatusModal/components/SuccessView/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/EditSampleStatusModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/EditSampleStatusModal/style.ts
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/EditSamplesReviewDialog/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/index.tsx
  src/frontend/src/common/images/Upload.svg
  src/frontend/src/common/images/UploadFailed.svg
  src/frontend/src/views/Upload/components/Review/components/Upload/style.ts
Labels: enhancement, frontend

#1080 Migrate auth flow to FastAPI; Shutdown Flask App
  Makefile
  src/backend/aspen/api/main.py
  src/backend/aspen/api/settings.py
  src/backend/aspen/api/views/auth.py
  src/backend/aspen/api/views/phylo_runs.py
  src/backend/aspen/api/views/tests/test_create_samples.py
  src/backend/aspen/app/__init__.py
  src/backend/aspen/app/app.py
  src/backend/aspen/app/aspen_app.py
  src/backend/aspen/app/gunicorn_conf.py
  src/backend/aspen/app/serializers.py
  src/backend/aspen/app/views/__init__.py
  src/backend/aspen/app/views/api_utils.py
  src/backend/aspen/app/views/auth.py
  src/backend/aspen/app/views/conftest.py
  src/backend/aspen/app/views/health.py
  src/backend/aspen/app/views/index.py
  src/backend/aspen/config/tests/__init__.py
  src/backend/aspen/config/tests/test_config.py
  src/backend/aspen/conftest.py
  src/backend/aspen/test_infra/flask.py
  src/backend/etc/nginx.conf
  src/backend/etc/supervisord.conf
  src/backend/poetry.lock
  src/backend/pyproject.toml
  src/backend/scripts/setup_dev_data.sh
  src/backend/scripts/setup_localdata.py
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/routes.ts
  src/frontend/src/components/NavBarV2/index.tsx
Labels: frontend, backend, dependencies

#1089 update tooltip link out
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/index.tsx
Labels: frontend, ez-pz

#1093 send null when empty sequencing date
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/EditSamplesReviewDialog/index.tsx
  src/frontend/src/common/queries/samples.ts
Labels: frontend

#1095 Use group name instead of S3 Prefix for tree names
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_scheduled.sh
Labels: bug, backend

#1096 crud V1 fixes
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/EditSamplesReviewDialog/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/ImportFile/parseFile.ts
  src/frontend/src/common/queries/samples.ts
Labels: frontend

#1099 Remove crudv1 ff
  src/frontend/src/common/components/library/data_subview/components/MoreActionMenu/index.tsx
  src/frontend/src/common/utils/featureFlags.tsx
Labels: frontend

#1101 Maya/158557 phase out css modules
  docs/frontend/README.md
  src/frontend/.stylelintrc.json
  src/frontend/jest/common.config.js
  src/frontend/jest/config.js
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/pages/_app.tsx
  src/frontend/src/common/components/index.tsx
  src/frontend/src/common/components/library/button/index.module.scss
  src/frontend/src/common/components/library/button/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EmptyState/index.module.scss
  src/frontend/src/common/components/library/data_subview/components/EmptyState/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EmptyState/style.ts
  src/frontend/src/common/components/library/data_subview/index.module.scss
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/components/library/data_subview/style.ts
  src/frontend/src/common/components/library/data_table/index.module.scss
  src/frontend/src/common/components/library/data_table/index.tsx
  src/frontend/src/common/components/library/data_table/style.ts
  src/frontend/src/common/styles/appStyle.ts
  src/frontend/src/common/styles/colors.scss
  src/frontend/src/common/styles/corners.scss
  src/frontend/src/common/styles/loading.scss
  src/frontend/src/common/styles/spacing.scss
  src/frontend/src/common/styles/typography.scss
  src/frontend/src/components/NavBar/components/RightNav/index.tsx
  src/frontend/src/components/NavBar/components/RightNav/style.ts
  src/frontend/src/components/NavBar/index.module.scss
  src/frontend/src/components/NavBar/index.tsx
  src/frontend/src/components/NavBar/style.ts
  src/frontend/src/components/NavBarV2/index.module.scss
  src/frontend/src/views/Data/cellRenderers.tsx
  src/frontend/src/views/Data/components/TreeTableNameCell/index.tsx
  src/frontend/src/views/Data/components/TreeTableNameCell/style.ts
  src/frontend/src/views/Data/index.module.scss
  src/frontend/src/views/Data/index.tsx
  src/frontend/src/views/Data/style.ts
Labels: frontend, dependencies

#1103 add group details dropdown
  src/frontend/src/components/NavBar/components/GroupDetailsDropdown/components/GroupMenuItem/index.tsx
  src/frontend/src/components/NavBar/components/GroupDetailsDropdown/components/GroupMenuItem/style.ts
  src/frontend/src/components/NavBar/components/GroupDetailsDropdown/index.tsx
  src/frontend/src/components/NavBar/components/GroupDetailsDropdown/style.ts
  src/frontend/src/components/NavBar/index.tsx
  src/frontend/src/components/NavBar/style.ts
  src/frontend/src/components/Split/index.tsx
Labels: enhancement, frontend

#1110 Add auth0_org_id column to Group model
  src/backend/aspen/database/models/usergroup.py
  src/backend/aspen/test_infra/models/usergroup.py
  src/backend/aspen/workflows/transform_gisaid/tests/test_update_locations.py
Labels: backend

#1105 Add list invitations endpoint
  src/backend/aspen/api/conftest.py
  src/backend/aspen/api/schemas/usergroup.py
  src/backend/aspen/api/views/groups.py
  src/backend/aspen/api/views/tests/test_groups.py
  src/backend/aspen/auth/auth0_management.py
  src/backend/aspen/auth/auth0_mock.py
  src/cli/aspencli.py
Labels: backend

#1111 Maya/187620 invite email input
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/index.tsx
  src/frontend/src/common/constants/inputDelimiters.ts
  src/frontend/src/common/routes.ts
  src/frontend/src/components/Instructions/index.tsx
  src/frontend/src/components/Instructions/style.ts
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/InviteModal/components/InvalidEmailError/components/SentNotification/index.tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/InviteModal/components/InvalidEmailError/index.tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/InviteModal/components/InvalidEmailError/style.ts
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/InviteModal/index.tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/InviteModal/style.ts
Labels: enhancement, frontend

#1108 Set up OneTrust, put Segment behind it
  .happy/terraform/modules/ecs-stack/main.tf
  src/backend/Makefile
  src/backend/database_migrations/versions/20220524_174911_add_auth0_org_id_column_to_groups_table.py
  src/frontend/next.config.js
  src/frontend/pages/_app.tsx
  src/frontend/public/oneTrustWrapperScript.js
  src/frontend/public/segmentInitScript.js
  src/frontend/src/common/analytics/OneTrustInitializer.tsx
  src/frontend/src/common/analytics/SegmentInitializer.tsx
  src/frontend/src/common/constants/ENV.js
Labels: enhancement, frontend

#1120 Add groupinfo endpoint
  src/backend/aspen/api/schemas/usergroup.py
  src/backend/aspen/api/views/groups.py
Labels: backend, ez-pz
