Repository chanzuckerberg/czgenepi, pull requests merged in 2022-03, with the labels that each got.

#974 Danrlu/switch to fork
  .happy/terraform/modules/sfn_config/nextstrain-dbg.wdl
  src/backend/Dockerfile.gisaid
  src/backend/Dockerfile.nextstrain
  src/backend/aspen/workflows/nextstrain_run/patches/crowding_penalty.patch
  src/backend/aspen/workflows/nextstrain_run/patches/seqtk.patch
Labels: bug, backend

#977 use a branch of chanzuckerberg/ncov
  src/backend/Dockerfile.gisaid
  src/backend/Dockerfile.nextstrain
Labels: backend, ez-pz

#975 make entire logo and name clickable
  src/frontend/src/components/NavBar/index.tsx
  src/frontend/src/components/NavBar/style.ts
Labels: bug

#979 Update Makefile to use docker's built-in compose v2
  Makefile
Labels: ez-pz

#980 Change references to pangolin probability to "Confidence"
  src/backend/aspen/api/schemas/samples.py
  src/backend/aspen/api/utils/sample.py
  src/backend/aspen/api/views/tests/test_samples.py
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/common/types/bioinformatics.d.ts
  src/frontend/src/views/Data/components/LineageTooltip/index.tsx
  src/frontend/src/views/Data/headers.tsx
Labels: frontend, backend

#976 add security txt instructions for security researchers to report issu…
  src/frontend/next.config.js
  src/frontend/public/.well-known/security.txt
  src/frontend/tests/staticFiles/security.test.ts
Labels: enhancement, ez-pz

#983 update czifui props import
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/common/components/library/Dialog/components/DialogActions/style.ts
  src/frontend/src/common/components/library/Dialog/components/DialogContent/style.ts
  src/frontend/src/common/components/library/Dialog/components/DialogTitle/style.ts
  src/frontend/src/common/components/library/Dialog/components/common.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/MissingSampleAlert/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/style.ts
  src/frontend/src/common/components/library/data_subview/components/MoreActionMenu/style.ts
  src/frontend/src/common/components/library/data_table/components/HeaderRow/components/TableHeader/style.ts
  src/frontend/src/common/components/library/data_table/components/HeaderRow/style.ts
  src/frontend/src/common/components/library/data_table/style.ts
  src/frontend/src/components/CollapsibleInstructions/style.ts
  src/frontend/src/components/FilterPanel/style.ts
  src/frontend/src/components/TreeNameInput/style.ts
  src/frontend/src/views/Data/components/TreeActionMenu/components/MoreActionsMenu/style.ts
  src/frontend/src/views/Data/components/TreeActionMenu/style.ts
  src/frontend/src/views/Data/components/TreeTableNameCell/style.ts
  src/frontend/src/views/Upload/components/Metadata/components/Table/components/Row/components/FreeTextField/style.ts
  src/frontend/src/views/Upload/components/Metadata/components/Table/components/Row/style.ts
  src/frontend/src/views/Upload/components/Review/components/Table/components/Row/style.ts
  src/frontend/src/views/Upload/components/Samples/components/AlertTable/style.ts
  src/frontend/src/views/Upload/components/common/Progress/components/Bar/style.ts
  src/frontend/src/views/Upload/components/common/Progress/components/Indicator/style.tsx
  src/frontend/src/views/Upload/components/common/style.ts
Labels: frontend, ez-pz

#984 add gisaid logo to partners section
  src/frontend/src/common/images/gisaid-logo-full.png
  src/frontend/src/common/routes.ts
  src/frontend/src/views/LandingPageV2/components/PartnersSection/index.tsx
  src/frontend/src/views/LandingPageV2/components/PartnersSection/style.ts
Labels: enhancement, frontend

#982 Maya/175880 design feedback
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/views/Upload/components/Metadata/components/Table/components/Row/components/LocationField/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/Table/components/Row/components/LocationField/style.ts
Labels: design feedback, frontend

#981 update samples modal instructions
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/style.ts
  src/frontend/src/common/components/library/data_subview/components/MoreActionMenu/index.tsx
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/components/CollapsibleInstructions/index.tsx
  src/frontend/src/components/CollapsibleInstructions/style.ts
Labels: frontend

#985 Maya/183658 attribution
  src/frontend/jest/mocks/svgComponent.js
  src/frontend/jest/setup.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/CreateNSTreeModal.test.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/style.ts
  src/frontend/src/common/images/nextstrain-inline.svg
Labels: enhancement, frontend

#987 Migrate GET /api/phylo_tree/<ID> endpoint to Fastapi
  src/backend/aspen/api/main.py
  src/backend/aspen/api/utils/__init__.py
  src/backend/aspen/api/utils/phylo.py
  src/backend/aspen/api/views/auspice.py
  src/backend/aspen/api/views/phylo_trees.py
  src/backend/aspen/api/views/tests/test_auspice.py
  src/backend/aspen/api/views/tests/test_download_phylo_tree.py
  src/backend/aspen/api/views/tests/test_update_phylo_run_and_tree.py
  src/backend/aspen/app/views/phylo_trees.py
  src/backend/aspen/app/views/tests/test_phylo_tree_view.py
  src/frontend/src/views/Data/transforms.tsx
Labels: backend

#992 Migrate GET /api/phylo_tree/sample_ids/<tree_id> endpoint to Fastapi
  src/backend/aspen/api/utils/__init__.py
  src/backend/aspen/api/utils/authz.py
  src/backend/aspen/api/utils/phylo.py
  src/backend/aspen/api/utils/tsv_streamer.py
  src/backend/aspen/api/views/phylo_trees.py
  src/backend/aspen/api/views/tests/test_download_tree_sample_ids.py
  src/backend/aspen/api/views/tests/test_phylo_tree_rename.py
  src/backend/aspen/app/views/phylo_trees.py
  src/backend/aspen/app/views/tests/data/ncov_aspen.json
  src/backend/aspen/phylo_tree/identifiers.py
  src/frontend/src/views/Data/transforms.tsx
Labels: frontend, backend, javascript

#991 Migrate Sample create endpoint to FastAPI
  src/backend/aspen/api/schemas/samples.py
  src/backend/aspen/api/settings.py
  src/backend/aspen/api/utils/__init__.py
  src/backend/aspen/api/utils/sample.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/tests/test_create_samples.py
  src/backend/aspen/app/views/sample.py
  src/backend/aspen/app/views/tests/test_samples_view.py
  src/backend/aspen/database/models/sample.py
  src/backend/aspen/main.py
  src/backend/scripts/setup_dev_data.sh
  src/cli/aspencli.py
  src/frontend/src/common/api/index.tsx
Labels: backend

#994 Get Pango Lineages
  .happy/terraform/modules/sfn_config/pangolin.wdl
  Makefile
  docs/DEV_ENV.md
  src/backend/aspen/database/models/__init__.py
  src/backend/aspen/database/models/pango_lineages.py
  src/backend/aspen/workflows/import_gisaid/save.py
  src/backend/aspen/workflows/import_pango_lineages/entrypoint.sh
  src/backend/aspen/workflows/import_pango_lineages/load_lineages.py
  src/backend/aspen/workflows/shared_utils/database.py
  src/backend/aspen/workflows/test-pangolin.sh
  src/backend/database_migrations/versions/20220315_205645_create_pango_lineages_table.py
Labels: enhancement, migration

#995 Add CLI command to create new users
  src/cli/aspencli.py
Labels: ez-pz

#996 Specify pip install directory in local-init
  Makefile
Labels: bug, ez-pz
