Repository chanzuckerberg/czgenepi, pull requests merged in 2022-02, with the labels that each got.

#938 update targeted description
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/RadioLabel/index.tsx
Labels: frontend

#939 update ncov pin to the latest
  src/backend/Dockerfile.gisaid
  src/backend/Dockerfile.nextstrain
Labels: enhancement, backend

#940 add patch step for tree debug wdl file
  .happy/terraform/modules/sfn_config/nextstrain-dbg.wdl
Labels: backend

#935 add edit tree name to more actions menu
  src/frontend/src/common/icons/IconEditSmall.svg
  src/frontend/src/common/utils/featureFlags.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/MoreActionsMenu/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/MoreActionsMenu/style.ts
Labels: frontend

#942 Add auspice magic link endpoint
  src/backend/aspen/api/main.py
  src/backend/aspen/api/schemas/auspice.py
  src/backend/aspen/api/settings.py
  src/backend/aspen/api/utils/__init__.py
  src/backend/aspen/api/utils/authz.py
  src/backend/aspen/api/views/auspice.py
  src/backend/aspen/api/views/tests/test_auspice.py
  src/backend/scripts/setup_dev_data.sh
  src/frontend/src/common/utils/TreeModal/ConfirmButton/index.tsx
Labels: enhancement, frontend, backend, javascript

#937 Move usher options endpoint to fastapi
  src/backend/aspen/api/main.py
  src/backend/aspen/api/schemas/usher.py
  src/backend/aspen/api/views/usher.py
  src/backend/aspen/app/serializers.py
  src/backend/aspen/app/views/usher.py
  src/backend/aspen/main.py
  src/cli/aspencli.py
  src/frontend/src/common/api/index.tsx
Labels: good first issue, backend

#945 Danrlu/add color by qc
  src/backend/aspen/workflows/nextstrain_run/nextstrain_profile/aspen_auspice_config_v2.json
Labels: enhancement, backend

#941 Migrate the sample validation endpoint to fastapi
  Makefile
  src/backend/aspen/api/schemas/samples.py
  src/backend/aspen/api/utils/__init__.py
  src/backend/aspen/api/utils/find_samples_by_id.py
  src/backend/aspen/api/utils/gisaid.py
  src/backend/aspen/api/views/phylo_runs.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/tests/test_samples.py
  src/backend/aspen/app/serializers.py
  src/backend/aspen/app/views/api_utils.py
  src/backend/aspen/app/views/sample.py
  src/backend/aspen/app/views/tests/test_samples_view.py
  src/cli/aspencli.py
  src/frontend/src/common/api/index.tsx
Labels: good first issue, backend

#950 remove depreciated backdrop click prop
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/style.ts
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherPlacementModal/index.tsx
  src/frontend/src/components/ConfirmDialog/index.tsx
  src/frontend/src/components/Dialog/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Upload/index.tsx
Labels: frontend

#954 Trim off a leading 'hcov-19/' before trying to match gisaid samples.
  src/backend/aspen/workflows/import_gisaid_isls/save.py
Labels: bug, good first issue, backend

#951 upgrade dependencies
  package-lock.json
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: frontend, dependencies

#948 rework shared styles
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/MissingSampleAlert/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/style.ts
  src/frontend/src/common/components/library/data_subview/components/DeleteSamplesConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/IconButton/index.tsx
  src/frontend/src/common/components/library/data_subview/components/RedirectConfirmationModal/style.ts
  src/frontend/src/common/styles/basicStyle.ts
  src/frontend/src/common/styles/iconStyle.ts
  src/frontend/src/components/AcknowledgePolicyChanges/index.tsx
  src/frontend/src/views/Faq/index.tsx
  src/frontend/src/views/Privacy/index.tsx
  src/frontend/src/views/Resources/index.tsx
  src/frontend/src/views/Terms/index.tsx
Labels: frontend

#952 Add Split.IO support to the czgenepi backend
  src/backend/Dockerfile
  src/backend/Dockerfile.nextstrain
  src/backend/aspen/api/auth.py
  src/backend/aspen/api/deps.py
  src/backend/aspen/api/error/http_exceptions.py
  src/backend/aspen/api/main.py
  src/backend/aspen/api/schemas/users.py
  src/backend/aspen/api/settings.py
  src/backend/aspen/api/views/tests/test_create_phylo_runs.py
  src/backend/aspen/api/views/tests/test_users.py
  src/backend/aspen/api/views/users.py
  src/backend/aspen/database/models/usergroup.py
  src/backend/aspen/util/split.py
  src/backend/database_migrations/versions/20220215_194838_set_vendor_ids.py
  src/backend/etc/split.yml
  src/backend/poetry.lock
  src/backend/pyproject.toml
  src/backend/scripts/setup_dev_data.sh
Labels: enhancement, backend

#956 FE sample update request
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/queries/auth.ts
  src/frontend/src/common/queries/samples.ts
Labels: frontend

#957 add edit samples to more actions dropdown
  src/frontend/src/common/components/library/data_subview/components/MoreActionMenu/index.tsx
  src/frontend/src/common/components/library/data_subview/components/MoreActionMenu/style.ts
  src/frontend/src/common/styles/iconStyle.ts
  src/frontend/src/views/Data/components/TreeActionMenu/components/MoreActionsMenu/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/MoreActionsMenu/style.ts
Labels: frontend

#959 Specify Private ID during metadata Upload
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/common/ProblemTable.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/common/style.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/warnings.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/parseFile.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/prepMetadataTemplate.ts
  src/frontend/src/views/Upload/components/Metadata/components/Table/components/Row/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/Table/index.tsx
  src/frontend/src/views/Upload/components/Metadata/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Table/components/Row/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Table/components/Row/style.ts
  src/frontend/src/views/Upload/components/Review/components/Table/index.tsx
  src/frontend/src/views/Upload/components/Samples/utils.ts
  src/frontend/src/views/Upload/components/common/constants.ts
  src/frontend/src/views/Upload/components/common/types.ts
  src/frontend/src/views/Upload/components/common/utils.ts
  src/frontend/src/views/Upload/index.tsx
Labels: enhancement, frontend

#944 Upload flow changes
  .github/workflows/scheduled-prod-deploy.yml
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/Error.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/common/ProblemTable.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/common/style.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/warnings.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/parseFile.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/prepMetadataTemplate.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/style.ts
  src/frontend/src/views/Upload/components/Metadata/components/Table/components/Row/components/FreeTextField/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/Table/components/Row/components/ToggleField/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/Table/components/Row/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/Table/components/Row/style.ts
  src/frontend/src/views/Upload/components/Metadata/components/Table/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/Table/style.ts
  src/frontend/src/views/Upload/components/Metadata/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Table/components/Row/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Table/components/Row/style.ts
  src/frontend/src/views/Upload/components/Review/components/Table/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Table/style.ts
  src/frontend/src/views/Upload/components/Samples/components/AlertTable/index.tsx
  src/frontend/src/views/Upload/components/Samples/components/Table/index.tsx
  src/frontend/src/views/Upload/components/Samples/utils.ts
  src/frontend/src/views/Upload/components/common/constants.ts
  src/frontend/src/views/Upload/components/common/types.ts
  src/frontend/src/views/Upload/components/common/utils.ts
  src/frontend/src/views/Upload/index.tsx
Labels: enhancement, frontend

#963 [bug] Convert all tree sample ID's (or none)
  src/backend/aspen/app/views/phylo_trees.py
  src/backend/aspen/app/views/tests/test_auspice_redirect.py
  src/backend/aspen/app/views/tests/test_phylo_tree_rename.py
  src/backend/aspen/app/views/tests/test_phylo_tree_view.py
  src/backend/aspen/app/views/tests/test_tree_metadata_download.py
  src/backend/aspen/test_infra/models/phylo_tree.py
  src/cli/aspencli.py
Labels: bug, backend

#968 upgrade deps 2/24/2022
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: frontend, dependencies

#969 adding option to download tree with public identifiers
  src/frontend/src/common/types/bioinformatics.d.ts
  src/frontend/src/views/Data/components/TreeActionMenu/components/TreeTableDownloadMenu/index.tsx
  src/frontend/src/views/Data/transforms.tsx
Labels: frontend

#970 Make split id's consistent in local dev.
  src/backend/scripts/setup_localdata.py
Labels: backend, ez-pz

#971 Write a script to modify nexstrain location translation map
  .happy/terraform/modules/sfn_config/gisaid.wdl
  src/backend/aspen/workflows/transform_gisaid/tests/test_update_locations.py
  src/backend/aspen/workflows/transform_gisaid/update_locations.py
Labels: enhancement, backend

#972 fixing tree edit modal stylings
  src/frontend/src/common/components/library/data_subview/components/EditTreeConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditTreeConfirmationModal/style.ts
  src/frontend/src/common/utils/featureFlags.tsx
  src/frontend/src/components/BaseDialog/index.tsx
  src/frontend/src/components/BaseDialog/style.ts
  src/frontend/src/components/TreeNameInput/style.ts
  src/frontend/src/views/Data/components/TreeActionMenu/components/MoreActionsMenu/index.tsx
Labels: design feedback, frontend

#973 [fix] Fix typing problem for v2 users endpoint.
  src/backend/aspen/api/schemas/users.py
Labels: bug, backend, ez-pz
