Repository chanzuckerberg/czgenepi, pull requests merged in 2022-08, with the labels that each got.

#1255 SC 209481 Username does not show in nav
  src/frontend/src/components/NavBar/components/RightNav/components/UserMenu/index.tsx
  src/frontend/src/components/NavBar/components/RightNav/components/UserMenu/style.ts
Labels: bug, frontend

#1256 User needs longer max lengths
  src/backend/aspen/api/schemas/usergroup.py
Labels: backend, ez-pz

#1257 Fix tree metadata export bug re: printing accessions
  src/backend/aspen/workflows/nextstrain_run/export.py
  src/backend/aspen/workflows/nextstrain_run/tests/test_export.py
Labels: bug, backend

#1260 SC-194965 Add callout if download will use multiple files.
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/style.ts
Labels: frontend

#1261 Add submitting_lab column to Group
  src/backend/aspen/api/schemas/usergroup.py
  src/backend/aspen/api/views/tests/test_groups.py
  src/backend/aspen/database/models/usergroup.py
  src/backend/database_migrations/versions/20220803_224221_add_submitting_lab_to_groups.py
Labels: migration, backend

#1263 Make sample_collector_contact_address nullable
  src/backend/aspen/database/models/sample.py
  src/backend/database_migrations/versions/20220805_180409_make_sample_sample_collector_address_.py
Labels: migration, backend

#1265 Add anonymized analytics_id to user data
  src/backend/aspen/api/schemas/usergroup.py
  src/backend/aspen/api/views/tests/test_users.py
  src/backend/aspen/database/models/usergroup.py
  src/backend/database_migrations/versions/20220808_214216_set_analytics_user_ids.py
  src/backend/scripts/setup_localdata.py
Labels: backend, ez-pz

#1266 populate optional fields on upload (Nextstrain header support)
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/parseFile.ts
  src/frontend/src/views/Upload/components/common/constants.ts
Labels: frontend

#1264 Analytics: Various events
  src/frontend/src/common/analytics/eventTypes.ts
  src/frontend/src/common/analytics/methods.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/index.tsx
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/common/queries/trees.ts
  src/frontend/src/views/Data/components/NextstrainConfirmationModal/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/TreeTableDownloadMenu/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Upload/index.tsx
Labels: documentation, enhancement, frontend

#1272 Standalone migration to add gisaid_submitter_id to users table
  src/backend/database_migrations/versions/20220809_234732_add_gisaid_submitter_id_to_users_table.py
Labels: migration, backend

#1275 Clean up analytics user info process
  src/frontend/src/common/analytics/SegmentInitializer.tsx
  src/frontend/src/common/analytics/eventTypes.ts
  src/frontend/src/common/analytics/methods.ts
  src/frontend/src/common/queries/auth.ts
  src/frontend/src/common/redux/middleware/index.ts
  src/frontend/src/common/types/user.d.ts
  src/frontend/src/common/utils/userInfo.ts
Labels: enhancement, frontend

#1273 Add API support for gisaid_submitter_id
  src/backend/aspen/api/schemas/usergroup.py
  src/backend/aspen/api/views/tests/test_users.py
  src/backend/aspen/api/views/users.py
  src/backend/aspen/database/models/usergroup.py
Labels: backend

#1280 Wrapping up analytics
  src/frontend/.stylelintignore
  src/frontend/pages/_app.tsx
  src/frontend/public/OneTrustCloseIcon.svg
  src/frontend/src/common/constants/ENV.js
  src/frontend/src/common/queries/auth.ts
  src/frontend/src/common/queries/groups.ts
  src/frontend/src/common/queries/queryClient.ts
  src/frontend/src/common/redux/middleware/index.ts
  src/frontend/src/common/routes.ts
  src/frontend/src/common/styles/oneTrust.css
  src/frontend/src/common/styles/oneTrust.scss
  src/frontend/src/common/types/windowAnalytics.d.ts
  src/frontend/src/common/utils/userInfo.ts
  src/frontend/src/components/NavBar/components/RightNav/components/UserMenu/index.tsx
  src/frontend/src/views/Privacy/index.tsx
Labels: enhancement, frontend

#1274 add banner to group details page
  src/frontend/src/views/GroupMembersPage/components/GroupDetailsTab/index.tsx
  src/frontend/src/views/GroupMembersPage/components/GroupDetailsTab/style.ts
  src/frontend/src/views/GroupMembersPage/index.tsx
Labels: enhancement, frontend, ez-pz

#1281 pathogen db support
  src/backend/aspen/database/models/pathogens.py
  src/backend/aspen/database/models/public_repositories.py
  src/backend/database_migrations/versions/20220816_000535_add_pathogen_and_public_repository_support.py
Labels: migration, backend

#1102 Analytics setup
  .happy/terraform/modules/ecs-stack/main.tf
  src/backend/Makefile
  src/frontend/.stylelintignore
  src/frontend/next.config.js
  src/frontend/pages/_app.tsx
  src/frontend/public/OneTrustCloseIcon.svg
  src/frontend/public/oneTrustWrapperScript.js
  src/frontend/public/segmentInitScript.js
  src/frontend/src/common/analytics/OneTrustInitializer.tsx
  src/frontend/src/common/analytics/SegmentInitializer.tsx
  src/frontend/src/common/analytics/eventTypes.ts
  src/frontend/src/common/analytics/methods.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/index.tsx
  src/frontend/src/common/constants/ENV.js
  src/frontend/src/common/queries/auth.ts
  src/frontend/src/common/queries/groups.ts
  src/frontend/src/common/queries/queryClient.ts
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/common/queries/trees.ts
  src/frontend/src/common/redux/middleware/index.ts
  src/frontend/src/common/routes.ts
  src/frontend/src/common/styles/oneTrust.css
  src/frontend/src/common/styles/oneTrust.scss
  src/frontend/src/common/types/user.d.ts
  src/frontend/src/common/types/windowAnalytics.d.ts
  src/frontend/src/common/utils/userInfo.ts
  src/frontend/src/components/NavBar/components/RightNav/components/UserMenu/index.tsx
  src/frontend/src/views/Data/components/NextstrainConfirmationModal/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/TreeTableDownloadMenu/index.tsx
  src/frontend/src/views/Privacy/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Upload/index.tsx
Labels: enhancement, frontend

#1283 use given subtree size when generating usher links
  src/cli/aspencli.py
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherPlacementModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/index.tsx
Labels: bug, frontend

#1286 Remove references to old, in-app FAQ
  src/frontend/next.config.js
  src/frontend/pages/faq.tsx
  src/frontend/src/common/routes.ts
  src/frontend/src/components/NavBar/index.tsx
  src/frontend/src/views/AgreeTerms/index.tsx
  src/frontend/src/views/Faq/index.tsx
Labels: frontend, ez-pz

#1262 SC-194969 account page
  src/frontend/pages/account.tsx
  src/frontend/src/common/queries/auth.ts
  src/frontend/src/common/routes.ts
  src/frontend/src/common/styles/iconStyle.ts
  src/frontend/src/common/types/user.d.ts
  src/frontend/src/views/Account/index.tsx
  src/frontend/src/views/Account/style.ts
Labels: frontend

#1292 Maya/194962 194961 gisaid genbank api
  src/frontend/src/common/analytics/eventTypes.ts
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
  src/frontend/src/common/queries/samples.ts
Labels: enhancement, frontend

#1294 Update Learn More link.
  src/frontend/src/views/Account/index.tsx
Labels: frontend, ez-pz

#1296 remove public id prefix
  src/frontend/src/views/GroupMembersPage/components/GroupDetailsTab/index.tsx
Labels: frontend, ez-pz

#1299 avoid console warning about props forwarded to div
  src/frontend/src/components/CollapsibleInstructions/style.ts
Labels: frontend, ez-pz

#1298 remove old feature flag files
  src/frontend/pages/_app.tsx
  src/frontend/src/common/components/library/data_table/index.tsx
  src/frontend/src/common/utils/featureFlags.tsx
Labels: frontend, ez-pz

#1258 Add stuff to the trees per GISAID requirements
  src/backend/aspen/workflows/nextstrain_run/nextstrain_profile/aspen_auspice_config_v2.json
  src/backend/aspen/workflows/nextstrain_run/nextstrain_profile/description_non_contextualized.md
  src/backend/aspen/workflows/nextstrain_run/nextstrain_profile/description_overview.md
  src/backend/aspen/workflows/nextstrain_run/nextstrain_profile/description_targeted.md
Labels: enhancement, ez-pz

#1306 [SC-211260] NextStrain Modal strings
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/RadioLabel/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/RadioLabel/strings.ts
  src/frontend/src/common/types/strings.ts
  src/frontend/src/views/Upload/components/Samples/index.tsx
  src/frontend/src/views/Upload/components/Samples/strings.ts
Labels: frontend, ez-pz

#1308 Feedback polish - Move feedback icon down 4px.
  src/frontend/src/components/NavBar/components/RightNav/style.ts
Labels: frontend, ez-pz

#1309 write out include.txt
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_ondemand.sh
Labels: enhancement, backend, ez-pz

#1307 DB migration to add pathogen_id to samples, phylo_runs, and phylo_trees
  src/backend/database_migrations/versions/20220831_150533_add_pathogen_to_phylo_and_samples.py
Labels: migration, backend
