Repository chanzuckerberg/czgenepi, pull requests merged in 2022-06, with the labels that each got.

#1115 Maya/187629 members page
  src/frontend/pages/members.tsx
  src/frontend/src/common/components/library/Table/index.tsx
  src/frontend/src/common/routes.ts
  src/frontend/src/common/styles/mixins/global.ts
  src/frontend/src/common/titles.ts
  src/frontend/src/views/GroupMembersPage/components/GroupDetailsTab/index.tsx
  src/frontend/src/views/GroupMembersPage/components/GroupDetailsTab/style.ts
  src/frontend/src/views/GroupMembersPage/components/MembersTab/index.tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/style.ts
  src/frontend/src/views/GroupMembersPage/index.tsx
  src/frontend/src/views/GroupMembersPage/style.ts
  src/frontend/src/views/Upload/components/common/style.ts
Labels: enhancement, frontend

#1124 refactor breakpoint code
  src/frontend/src/common/styles/mixins/global.ts
  src/frontend/src/components/NavBarV2/style.ts
  src/frontend/src/views/GroupMembersPage/components/GroupDetailsTab/style.ts
  src/frontend/src/views/GroupMembersPage/style.ts
  src/frontend/src/views/LandingPageV2/components/Footer/style.ts
  src/frontend/src/views/LandingPageV2/components/Hero/components/HeroEmailForm/style.ts
  src/frontend/src/views/LandingPageV2/components/Hero/style.ts
  src/frontend/src/views/LandingPageV2/components/IntroSection/style.ts
  src/frontend/src/views/LandingPageV2/components/PartnersSection/style.ts
  src/frontend/src/views/LandingPageV2/components/QuoteSlider/components/Quote/style.ts
  src/frontend/src/views/LandingPageV2/components/UseCases/style.ts
Labels: frontend

#1125 Maya/187629 group dropdown api
  .github/workflows/push-rdev.yml
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/queries/auth.ts
  src/frontend/src/common/queries/entities.ts
  src/frontend/src/common/queries/groups.ts
  src/frontend/src/common/types/user.d.ts
  src/frontend/src/common/utils/locationUtils.ts
  src/frontend/src/common/utils/userUtils.ts
  src/frontend/src/components/NavBar/components/GroupDetailsDropdown/index.tsx
  src/frontend/src/components/NavBar/components/GroupDetailsDropdown/style.ts
  src/frontend/src/components/NavBar/index.tsx
Labels: enhancement, frontend

#1127 Setup Plausible.io usage
  .happy/terraform/modules/ecs-stack/main.tf
  docker-compose.yml
  src/frontend/next.config.js
  src/frontend/pages/_app.tsx
  src/frontend/src/common/analytics/PlausibleInitializer.tsx
  src/frontend/src/common/constants/ENV.js
Labels: enhancement, frontend

#1130 public assets for welcome email template
  src/frontend/public/CZGenEpiLogoWhite.svg
  src/frontend/public/phyloTreeBackground.svg
Labels: ez-pz

#1128 Maya/187620 invite api call
  src/frontend/src/common/components/library/Table/components/Cell/index.tsx
  src/frontend/src/common/queries/entities.ts
  src/frontend/src/common/queries/groups.ts
  src/frontend/src/common/routes.ts
  src/frontend/src/components/NavBar/components/GroupDetailsDropdown/index.tsx
  src/frontend/src/components/NavBar/index.tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/InviteModal/components/InvalidEmailError/components/SentNotification/index.tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/InviteModal/index.tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/index.tsx
  src/frontend/src/views/GroupMembersPage/index.tsx
Labels: enhancement, frontend

#1135 png asset files
  src/frontend/public/CZGenEpiLogoWhite.png
  src/frontend/public/phyloTreeBackground.png
  src/frontend/public/phyloTreeBackground.svg
Labels: ez-pz

#1132 Maya/187620 clean up
  src/frontend/pages/group/[[...params]].tsx
  src/frontend/pages/members.tsx
  src/frontend/src/common/components/library/Table/style.ts
  src/frontend/src/common/components/library/data_subview/style.ts
  src/frontend/src/common/queries/auth.ts
  src/frontend/src/common/queries/groups.ts
  src/frontend/src/common/styles/mixins/global.ts
  src/frontend/src/common/types/invitation.d.ts
  src/frontend/src/common/types/user.d.ts
  src/frontend/src/common/utils/userUtils.ts
  src/frontend/src/views/GroupMembersPage/components/GroupDetailsTab/index.tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/ActiveMembersTable/index.tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/InviteModal/index.tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/MemberInvitationsTable/components/EmailCell/index.tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/MemberInvitationsTable/components/EmailCell/style.ts
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/MemberInvitationsTable/index.tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/PersonIconCell/style.ts
  src/frontend/src/views/GroupMembersPage/components/MembersTab/index.tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/style.ts
  src/frontend/src/views/GroupMembersPage/index.tsx
Labels: enhancement, design feedback, frontend

#1137 Fix group routes.
  src/backend/scripts/setup_localdata.py
  src/frontend/src/common/routes.ts
  src/frontend/src/views/GroupMembersPage/components/MembersTab/index.tsx
Labels: ez-pz

#1139 protect group details page
  src/frontend/src/views/GroupMembersPage/index.tsx
Labels: frontend

#1140 don't show invite button if user isn't admin
  src/frontend/src/views/GroupMembersPage/components/MembersTab/index.tsx
Labels: frontend

#1143 Handle multi-delimited emails; handle spaces
  src/frontend/src/common/constants/inputDelimiters.ts
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/InviteModal/index.tsx
Labels: bug, frontend

#1145 Automatically strip leading/trailing whitespace in input strings.
  src/backend/aspen/api/schemas/base.py
  src/backend/aspen/api/views/tests/test_create_samples.py
Labels: ez-pz

#1144 Setup Plausible.io usage
  .happy/terraform/modules/ecs-stack/main.tf
  docker-compose.yml
  scripts/setup_dev_data.sh
  src/frontend/next.config.js
  src/frontend/pages/_app.tsx
  src/frontend/src/common/analytics/PlausibleInitializer.tsx
  src/frontend/src/common/constants/ENV.js
Labels: enhancement, frontend, ez-pz

#1146 Make sure system admins can invite people to any group
  src/backend/aspen/api/views/groups.py
  src/cli/aspencli.py
Labels: backend, ez-pz

#1148 fix table width
  src/frontend/src/common/components/library/Table/style.ts
Labels: bug, frontend

#1147 Add create group command
  src/backend/aspen/api/schemas/usergroup.py
  src/backend/aspen/api/views/groups.py
  src/backend/aspen/api/views/tests/test_groups.py
  src/backend/aspen/auth/auth0_mock.py
  src/cli/aspencli.py
Labels: backend

#1154 200919/remove 2 columns
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/ActiveMembersTable/index.tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/ActiveMembersTable/style.ts
Labels: design feedback, frontend

#1158 dont reload page hen viewing invitations from notification
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/InviteModal/components/InvalidEmailError/components/SentNotification/index.tsx
Labels: frontend

#1155 Update setup docs.
  docker-compose.yml
  docs/DEV_ENV.md
  docs/REMOTE_DEV.md
Labels: documentation, ez-pz

#1160 Prevent duplicate users / invitations.
  src/backend/aspen/api/conftest.py
  src/backend/aspen/api/views/groups.py
  src/backend/aspen/api/views/tests/test_groups.py
  src/backend/aspen/auth/auth0_management.py
  src/backend/aspen/auth/auth0_mock.py
Labels: backend

#1161 prevent table from flickering on scroll
  src/frontend/src/common/components/library/Table/components/Row/index.tsx
  src/frontend/src/common/components/library/Table/index.tsx
Labels: bug, design feedback

#1163 design tweaks
  src/frontend/src/common/components/library/Table/components/Row/style.ts
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/ActiveMembersTable/style.ts
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/MemberInvitationsTable/index.tsx
Labels: design feedback, frontend

#1165 welcome email template
  src/frontend/auth0_templates/invite_new_user_email_template_prod.html
  src/frontend/auth0_templates/invite_new_user_email_template_staging.html
  src/frontend/auth0_templates/welcome_email_template.html
Labels: enhancement, frontend

#1167 Add support for case-insensitive location searches
  src/backend/aspen/api/views/locations.py
Labels: backend

#1168 Sync admin flags between auth0 and czge
  src/backend/aspen/api/schemas/usergroup.py
  src/backend/aspen/api/views/auth.py
  src/backend/aspen/api/views/groups.py
  src/backend/aspen/api/views/tests/test_auth.py
  src/backend/aspen/auth/auth0_management.py
Labels: backend

#1173 whenever users requests a new page, go there
  src/frontend/pages/group/[[...params]].tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/index.tsx
  src/frontend/src/views/GroupMembersPage/index.tsx
Labels: bug, frontend

#1172 Maya/cache issues
  src/frontend/src/common/queries/auth.ts
  src/frontend/src/common/queries/groups.ts
  src/frontend/src/views/GroupMembersPage/components/MembersTab/index.tsx
  src/frontend/src/views/GroupMembersPage/index.tsx
Labels: enhancement, frontend

#1186 refactor navbar to DRY and keep naming semantic
  src/frontend/pages/_app.tsx
  src/frontend/src/components/NavBar/components/AppNavBar/components/GroupDetailsDropdown/components/GroupMenuItem/index.tsx
  src/frontend/src/components/NavBar/components/AppNavBar/components/GroupDetailsDropdown/components/GroupMenuItem/style.ts
  src/frontend/src/components/NavBar/components/AppNavBar/components/GroupDetailsDropdown/index.tsx
  src/frontend/src/components/NavBar/components/AppNavBar/components/GroupDetailsDropdown/style.ts
  src/frontend/src/components/NavBar/components/AppNavBar/index.tsx
  src/frontend/src/components/NavBar/components/AppNavBar/style.ts
  src/frontend/src/components/NavBar/components/StaticPageNavBar/index.tsx
  src/frontend/src/components/NavBar/components/StaticPageNavBar/style.ts
  src/frontend/src/components/NavBar/index.tsx
  src/frontend/src/components/NavBarV2/components/UserMenu/index.tsx
Labels: frontend

#1184 Install oso & some initial fastapi hooks as a no-op
  src/backend/Dockerfile
  src/backend/Dockerfile.gisaid
  src/backend/Dockerfile.nextstrain
  src/backend/Dockerfile.pangolin
  src/backend/aspen/api/authn.py
  src/backend/aspen/api/authz.py
  src/backend/aspen/api/conftest.py
  src/backend/aspen/api/deps.py
  src/backend/aspen/api/main.py
  src/backend/aspen/api/policy.polar
  src/backend/aspen/api/views/auspice.py
  src/backend/aspen/api/views/auth.py
  src/backend/aspen/api/views/groups.py
  src/backend/aspen/api/views/locations.py
  src/backend/aspen/api/views/phylo_runs.py
  src/backend/aspen/api/views/phylo_trees.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/sequences.py
  src/backend/aspen/api/views/users.py
  src/backend/aspen/auth/role_manager.py
  src/backend/aspen/database/models/__init__.py
  src/backend/aspen/database/models/usergroup.py
  src/backend/database_migrations/versions/20220616_232147_add_user_roles.py
  src/backend/database_migrations/versions/20220616_232148_add_group_roles.py
  src/backend/database_migrations/versions/20220621_232148_migrate_role_data.py
  src/backend/poetry.lock
  src/backend/pyproject.toml
Labels: migration, backend, dependencies

#1190 Bump jpeg-js from 0.4.3 to 0.4.4 in /src/frontend
  src/frontend/package-lock.json
Labels: dependencies

#1192 redirect /resources to new help center
  src/frontend/next.config.js
Labels: frontend

#1189 Update user name in put API
  src/backend/aspen/api/schemas/usergroup.py
  src/backend/aspen/api/views/tests/data/auth0_mock_responses.py
  src/backend/aspen/api/views/tests/test_groups.py
  src/backend/aspen/api/views/tests/test_users.py
  src/backend/aspen/api/views/users.py
  src/backend/aspen/auth/auth0_management.py
  src/backend/aspen/cli/sync_auth0.py
  src/cli/aspencli.py
Labels: enhancement, backend

#1185 Return group roles as part of /users/me response.
  src/backend/aspen/api/authn.py
  src/backend/aspen/api/schemas/usergroup.py
  src/backend/aspen/api/views/tests/test_auspice.py
  src/backend/aspen/api/views/tests/test_auth.py
  src/backend/aspen/api/views/tests/test_create_phylo_runs.py
  src/backend/aspen/api/views/tests/test_create_samples.py
  src/backend/aspen/api/views/tests/test_delete_phylo_runs.py
  src/backend/aspen/api/views/tests/test_download_phylo_tree.py
  src/backend/aspen/api/views/tests/test_download_tree_sample_ids.py
  src/backend/aspen/api/views/tests/test_groups.py
  src/backend/aspen/api/views/tests/test_list_phylo_runs.py
  src/backend/aspen/api/views/tests/test_phylo_tree_rename.py
  src/backend/aspen/api/views/tests/test_samples.py
  src/backend/aspen/api/views/tests/test_sequences.py
  src/backend/aspen/api/views/tests/test_update_phylo_run_and_tree.py
  src/backend/aspen/api/views/tests/test_users.py
  src/backend/aspen/api/views/users.py
  src/backend/aspen/test_infra/models/usergroup.py
Labels: enhancement, backend

#1188 Remove unused privileges and sync old & new privs for tests.
  src/backend/aspen/api/utils/authz.py
  src/backend/aspen/api/utils/fasta_streamer.py
  src/backend/aspen/api/utils/phylo.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/tests/test_download_tree_sample_ids.py
  src/backend/aspen/api/views/tests/test_list_phylo_runs.py
  src/backend/aspen/api/views/tests/test_phylo_tree_rename.py
  src/backend/aspen/api/views/tests/test_samples.py
  src/backend/aspen/api/views/tests/test_sequences.py
  src/backend/aspen/auth/role_manager.py
  src/backend/aspen/test_infra/models/usergroup.py
Labels: backend, tests

#1194 Support EPI ISLs in tree builds
  src/backend/aspen/api/utils/__init__.py
  src/backend/aspen/api/utils/gisaid.py
  src/backend/aspen/api/views/phylo_runs.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/tests/test_create_phylo_runs.py
  src/backend/aspen/api/views/tests/test_samples.py
  src/backend/aspen/test_infra/models/gisaid_metadata.py
Labels: enhancement, backend
