Repository chanzuckerberg/czgenepi, pull requests merged in 2022-11, with the labels that each got.

#1427 Capture original tree build args
  src/backend/aspen/api/utils/lineage.py
  src/backend/aspen/api/utils/tests/test_lineage.py
  src/backend/aspen/api/views/phylo_runs.py
  src/backend/aspen/api/views/tests/test_create_phylo_runs.py
  src/backend/aspen/database/models/locations.py
  src/backend/aspen/database/models/phylo_tree.py
  src/backend/aspen/database/models/usergroup.py
  src/backend/aspen/workflows/nextstrain_run/export.py
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_ondemand.sh
  src/backend/aspen/workflows/nextstrain_run/save.py
  src/backend/aspen/workflows/nextstrain_run/tests/test_export.py
Labels: enhancement, backend

#1425 very basic samples table set up
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
  src/frontend/src/views/Data/components/SamplesView/index.tsx
  src/frontend/src/views/Data/style.ts
Labels: enhancement, frontend

#1433 run nextclade script
  src/backend/aspen/database/models/__init__.py
  src/backend/aspen/database/models/lineages.py
  src/backend/aspen/database/models/mutations.py
  src/backend/aspen/workflows/nextclade/run_nextclade.sh
  src/backend/aspen/workflows/nextclade/save.py
  src/backend/aspen/workflows/nextclade/tests/data/nextclade.csv
  src/backend/aspen/workflows/nextclade/tests/test_nextclade_save.py
  src/backend/aspen/workflows/pangolin/export.py
  src/backend/database_migrations/versions/20221101_001522_nextclade_table_updates.py
Labels: backend

#1432 add search and filter to samples table
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
  src/frontend/src/views/Data/components/SamplesView/index.tsx
Labels: enhancement, frontend

#1438 Fix Nextstrain image check test
  src/backend/aspen/workflows/test-nextstrain.sh
Labels: ez-pz

#1439 Turn off build/test for Lineage&QC image
  .github/workflows/push-tests.yml
Labels: bug, ez-pz

#1440 Stub out Lineage&QC image test
  .github/workflows/push-tests.yml
  src/backend/aspen/workflows/test-lineage-qc.sh
Labels: bug

#1441 Fix: Make stub test executable
  src/backend/aspen/workflows/test-lineage-qc.sh
Labels: bug

#1442 Fix: Add shebang to stub test script
  src/backend/aspen/workflows/test-lineage-qc.sh
Labels: bug

#1443 Temp fix: Comment out lineage image from TF file
  .happy/terraform/modules/ecs-stack/main.tf
Labels: bug

#1436 Resolve all outstanding dependabot PR
  src/frontend/next.config.js
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: frontend, dependencies

#1412 Surface validation errors in static upload metadata table
  src/frontend/src/views/Upload/components/Metadata/components/StaticTable/components/Row/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/StaticTable/components/Row/style.ts
  src/frontend/src/views/Upload/components/Metadata/components/StaticTable/index.tsx
  src/frontend/src/views/Upload/components/Metadata/index.tsx
  src/frontend/src/views/Upload/components/Metadata/style.ts
  src/frontend/src/views/Upload/components/Samples/index.tsx
Labels: enhancement, frontend, javascript

#1435 Handle end dates for all tree titles (SC 214190)
  src/backend/aspen/workflows/nextstrain_run/build_plugins/base_plugin.py
  src/backend/aspen/workflows/nextstrain_run/build_plugins/type_plugins.py
  src/backend/aspen/workflows/nextstrain_run/export.py
Labels: backend, ez-pz

#1445 sort the table
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
Labels: enhancement, frontend, ez-pz

#1448 Maya/224025 trees table
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/index.tsx
  src/frontend/src/views/Data/components/TreesView/index.tsx
  src/frontend/src/views/Data/components/TreesView/style.ts
Labels: enhancement, frontend

#1447 Bump GISAID ingest instance type to r5d.x16large
  .happy/terraform/modules/ecs-stack/main.tf
Labels: backend

#1451 Update upload flow copy
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Instructions/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Instructions/style.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/style.ts
  src/frontend/src/views/Upload/components/Metadata/index.tsx
  src/frontend/src/views/Upload/components/Metadata/style.ts
  src/frontend/src/views/Upload/components/Samples/index.tsx
  src/frontend/src/views/Upload/components/Samples/style.ts
Labels: frontend, javascript

#1454 Fix CLI interface test.
  src/backend/aspen/workflows/test-gisaid.sh
Labels: backend, ez-pz

#1453 [no ticket] Remove prep_files flag
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
  src/frontend/src/components/NavBar/components/RightNav/components/UserMenu/index.tsx
  src/frontend/src/components/Split/types.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/index.tsx
Labels: frontend, ez-pz

#1429 Use new tables
  src/backend/aspen/api/views/phylo_runs.py
  src/backend/aspen/api/views/tests/test_create_phylo_runs.py
  src/backend/aspen/api/views/tests/test_delete_phylo_runs.py
  src/backend/aspen/api/views/tests/test_list_phylo_runs.py
  src/backend/aspen/conftest.py
  src/backend/aspen/test_infra/models/repository.py
  src/backend/aspen/test_infra/models/workflow.py
  src/backend/aspen/workflows/nextstrain_run/create_phyloruns.py
  src/backend/aspen/workflows/nextstrain_run/export.py
  src/backend/aspen/workflows/nextstrain_run/tests/test_export.py
  src/backend/database_migrations/versions/20221101_201105_migrate_gisaid_workflows.py
Labels: backend

#1452 [SC-225249] add pathogen tab for monkeypox
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/RadioLabel/strings.ts
  src/frontend/src/common/queries/lineages.ts
  src/frontend/src/common/queries/phyloRuns.ts
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/common/redux/middleware/index.ts
  src/frontend/src/common/redux/types.ts
  src/frontend/src/common/redux/utils/pathogenUtils.ts
  src/frontend/src/common/styles/accessibility.ts
  src/frontend/src/components/NavBar/components/AppNavBar/components/PathogenTabs/index.tsx
  src/frontend/src/components/NavBar/components/AppNavBar/components/PathogenTabs/style.tsx
  src/frontend/src/components/NavBar/components/AppNavBar/index.tsx
  src/frontend/src/components/Split/pathogenSplitConfig.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/RadioLabel/strings.ts
  src/frontend/src/views/Upload/components/Samples/strings.ts
Labels: frontend

#1458 oops, fix a migration bug.
  src/backend/database_migrations/versions/20221101_201105_migrate_gisaid_workflows.py
Labels: backend, ez-pz

#1460 Maya/227775 tooltips
  src/frontend/src/views/Data/cellRenderers.tsx
  src/frontend/src/views/Data/components/LineageTooltip/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/components/DefaultCell/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/components/SortableHeader/components/TooltipText/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/components/SortableHeader/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeTypeTooltip/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/index.tsx
Labels: enhancement, frontend

#1461 Prevent logging of sample ids in Pangolin jobs
  .happy/terraform/modules/sfn_config/pangolin-ondemand.wdl
Labels: bug, ez-pz

#1462 Maya/223992 tree modals
  src/frontend/src/common/components/library/data_subview/components/MoreActionMenu/index.tsx
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/components/library/data_table/index.tsx
  src/frontend/src/views/Data/cellRenderers.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/SampleTableActions/components/MoreActionMenu/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
  src/frontend/src/views/Data/components/TreeTableNameCell/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreeCreateHelpLink/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreeCreateHelpLink/styles.ts
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/components/MoreActionsMenu/components/DeleteTreeConfirmationModal/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/components/MoreActionsMenu/components/EditTreeConfirmationModal/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/components/MoreActionsMenu/components/EditTreeConfirmationModal/style.ts
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/components/MoreActionsMenu/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/components/MoreActionsMenu/style.ts
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/components/OpenInGalagoButton/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/components/OpenInNextstrainButton/components/NextstrainConfirmationModal/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/components/OpenInNextstrainButton/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/components/TreeTableDownloadMenu/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/style.ts
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/index.tsx
  src/frontend/src/views/Data/components/TreesView/index.tsx
Labels: enhancement, frontend

#1459 Stop using the GisaidMetadata table
  src/backend/aspen/api/deps.py
  src/backend/aspen/api/schemas/lineages.py
  src/backend/aspen/api/utils/__init__.py
  src/backend/aspen/api/utils/gisaid.py
  src/backend/aspen/api/utils/repo_metadata.py
  src/backend/aspen/api/utils/sample.py
  src/backend/aspen/api/views/lineages.py
  src/backend/aspen/api/views/phylo_runs.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/tests/test_create_phylo_runs.py
  src/backend/aspen/api/views/tests/test_samples.py
  src/backend/aspen/test_infra/models/gisaid_metadata.py
  src/backend/aspen/test_infra/models/lineage.py
  src/backend/aspen/test_infra/models/repo_metadata.py
  src/backend/aspen/workflows/import_gisaid_isls/save.py
  src/backend/aspen/workflows/import_locations/save.py
  src/backend/aspen/workflows/import_pango_lineages/load_lineages.py
  src/backend/aspen/workflows/nextstrain_run/export.py
  src/backend/aspen/workflows/nextstrain_run/tests/test_export.py
  src/backend/pipeline_tests/test_gisaid_pipeline.py
Labels: backend

#1464 [SC-225225 generate the general viral template upload/edit
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/RadioLabel/strings.ts
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/EditSamplesReviewDialog/components/Table/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/ImportFile/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/ImportFile/parseFile.ts
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/common/constants.ts
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/utils.ts
  src/frontend/src/common/types/strings.ts
  src/frontend/src/components/DownloadMetadataTemplate/common/constants.ts
  src/frontend/src/components/DownloadMetadataTemplate/prepMetadataTemplate.ts
  src/frontend/src/components/ImportFileWarnings/components/WarningBadLocationFormat/index.tsx
  src/frontend/src/components/WebformTable/common/constants.ts
  src/frontend/src/components/WebformTable/components/EditTable/index.tsx
  src/frontend/src/components/WebformTable/components/UploadTable/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/RadioLabel/strings.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/EditSamplesConfirmationModal/components/EditSamplesReviewDialog/components/Table/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/EditSamplesConfirmationModal/components/ImportFile/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/EditSamplesConfirmationModal/components/ImportFile/parseFile.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/EditSamplesConfirmationModal/components/common/constants.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/EditSamplesConfirmationModal/utils.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/warnings.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/parseFile.ts
  src/frontend/src/views/Upload/components/Metadata/components/StaticTable/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Table/index.tsx
  src/frontend/src/views/Upload/components/Samples/strings.ts
  src/frontend/src/views/Upload/components/common/constants.ts
Labels: frontend

#1456 Change missing required fields error severity when importing metadata
  src/frontend/src/components/ImportFileWarnings/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/warnings.tsx
Labels: frontend, javascript

#1465 [SC-225226] warn user if user clicks from upload flow
  src/frontend/src/components/NavBar/components/AppNavBar/components/PathogenTabs/index.tsx
Labels: frontend

#1469 [fix] fix pangolin lineage list endpoint
  Makefile
  src/backend/aspen/api/views/lineages.py
  src/backend/aspen/api/views/tests/test_lineages_endpoints.py
  src/backend/aspen/workflows/import_pango_lineages/entrypoint.sh
Labels: bug, backend, ez-pz

#1467 Maya/223990 tsv generation
  src/frontend/src/common/types/table.d.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/components/DownloadButton/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/components/DownloadButton/mapTsvData.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/components/DownloadButton/style.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/style.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/index.tsx
Labels: frontend, ez-pz

#1468 Maya/download modal refactor
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/components/DownloadMenuSelection/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/components/DownloadMenuSelection/style.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/style.ts
Labels: frontend

#1473 show the correct number of deleted samples
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DeleteSamplesConfirmationModal/index.tsx
Labels: frontend, ez-pz

#1471 Maya/227590 todo cleanup
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/components/library/data_table/index.tsx
  src/frontend/src/common/types/data.d.ts
  src/frontend/src/common/utils/tableUtils.tsx
  src/frontend/src/components/Table/components/SearchBar/index.tsx
  src/frontend/src/components/Table/constants.ts
  src/frontend/src/views/Data/components/DataNavigation/index.tsx
  src/frontend/src/views/Data/components/EmptyState/index.tsx
  src/frontend/src/views/Data/components/EmptyState/style.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/SampleFiltering/components/LineageFilter/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/style.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/EditSamplesConfirmationModal/components/EditSamplesReviewDialog/components/Table/components/Row/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/components/DefaultCell/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
  src/frontend/src/views/Data/components/SamplesView/index.tsx
  src/frontend/src/views/Data/components/SamplesView/style.ts
  src/frontend/src/views/Data/components/SortableHeader/components/TooltipText/index.tsx
  src/frontend/src/views/Data/components/SortableHeader/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeTableNameCell/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/style.ts
  src/frontend/src/views/Data/components/TreesView/index.tsx
  src/frontend/src/views/Data/index.tsx
  src/frontend/src/views/Data/transforms.tsx
  src/frontend/src/views/Upload/components/Metadata/components/StaticTable/components/Row/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Table/components/Row/index.tsx
  src/frontend/src/views/Upload/components/common/constants.ts
Labels: enhancement, frontend

#1475 disable gisaid template download if not SC2
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/index.tsx
Labels: frontend

#1474 genbank template hcv mpx support
  src/backend/aspen/api/utils/sample.py
  src/backend/aspen/api/utils/tsv_streamer.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/tests/test_submission_templates.py
Labels: backend

#1477 Migrations: Lineage QC
  src/backend/database_migrations/versions/20221117_003051_capture_reference_dataset_info.py
  src/backend/database_migrations/versions/20221122_064351_enum_tables_for_qc_and_mutations.py
  src/backend/database_migrations/versions/20221122_231047_add_mpx_pathogen_and_nextclade_datasets.py
  src/backend/database_migrations/versions/20221128_220950_make_sample_qc_metrics_qc_score_nullable.py
Labels: migration

#1482 Add an indicator so we can easily determine if an account is in the CZGE_internal segment in split.
  src/frontend/src/components/Split/types.ts
  src/frontend/src/views/Account/index.tsx
Labels: frontend, ez-pz

#1481 Add multi-pathogen support to Usher options
  src/backend/aspen/api/main.py
  src/backend/aspen/api/views/usher.py
  src/backend/aspen/database/models/pathogens.py
  src/backend/aspen/database/models/usher.py
  src/backend/database_migrations/versions/20221129_012949_add_pathogen_column_to_usher_options.py
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/queries/trees.ts
Labels: migration, backend

#1483 [SC-225224] copy changes to upload flow
  src/frontend/src/common/types/pathogenConfig.ts
  src/frontend/src/components/DownloadMetadataTemplate/common/constants.ts
  src/frontend/src/components/DownloadMetadataTemplate/prepMetadataTemplate.ts
  src/frontend/src/components/WebformTable/common/constants.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/RadioLabel/strings.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Instructions/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Instructions/style.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/strings.ts
  src/frontend/src/views/Upload/components/Review/components/Upload/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Upload/strings.ts
  src/frontend/src/views/Upload/components/Review/index.tsx
  src/frontend/src/views/Upload/components/Review/strings.ts
  src/frontend/src/views/Upload/components/Samples/index.tsx
  src/frontend/src/views/Upload/components/Samples/strings.ts
Labels: frontend
