Repository chanzuckerberg/czgenepi, pull requests merged in 2022-10, with the labels that each got.

#1370 [SC-215622] Mock sample response for testing filtering functionality
  .github/workflows/push-tests.yml
  src/frontend/.env.development
  src/frontend/.env.staging.template
  src/frontend/e2e/fixtures/sampleList.json
  src/frontend/e2e/pages/basePage.ts
  src/frontend/e2e/pages/filter.ts
  src/frontend/e2e/setup/global-setup.ts
  src/frontend/e2e/setup/local.config.ts
  src/frontend/e2e/setup/staging.config.ts
  src/frontend/e2e/storage/emptyStorageState.json
  src/frontend/e2e/storage/state.json
  src/frontend/e2e/tests/filter-samples.spec.ts
  src/frontend/e2e/tests/home.spec.ts
  src/frontend/e2e/tests/mock-api-data.spec.ts
  src/frontend/e2e/tests/sample-filtering.spec.ts
  src/frontend/e2e/tests/sample-page.spec.ts
  src/frontend/e2e/tests/sample.spec.ts
  src/frontend/e2e/tests/upload.spec.ts
  src/frontend/e2e/utils/archive/serverHandlers.ts
  src/frontend/e2e/utils/common.ts
  src/frontend/e2e/utils/constants.ts
  src/frontend/e2e/utils/general.ts
  src/frontend/e2e/utils/login.ts
  src/frontend/e2e/utils/nexstraintree.ts
  src/frontend/e2e/utils/sample.ts
  src/frontend/package.json
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/tests/utils/serverHandlers.ts
  src/frontend/tests/utils/userInfo.ts
Labels: e2e

#1384 Migration: user `created_at`
  src/backend/database_migrations/versions/20221004_221741_add_created_at_for_users.py
Labels: migration

#1381 [SC-190388] as a user i want to select a custom location for tree creation
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/RadioLabel/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/components/CollectionDateFilter/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/components/CollectionDateFilter/style.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/components/LineageFilter/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/components/LocationFilter/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/TargetedFiltering/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/queries/locations.ts
  src/frontend/src/common/queries/trees.ts
  src/frontend/src/components/WebformTable/components/Row/components/LocationField/index.tsx
Labels: frontend

#1382 Add user `created_at` column
  src/backend/aspen/database/models/usergroup.py
Labels: enhancement, backend, ez-pz

#1385 use new feature flag to begin table refactor
  src/frontend/src/components/Split/index.tsx
  src/frontend/src/components/Split/types.ts
  src/frontend/src/views/Data/components/SamplesView/index.tsx
  src/frontend/src/views/Data/components/TreesView/index.tsx
  src/frontend/src/views/Data/index.tsx
Labels: frontend, ez-pz

#1383 SC-214195/reset tree creation filters
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/RadioLabel/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/components/CollectionDateFilter/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/components/LocationFilter/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/TargetedFiltering/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/TargetedFiltering/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
Labels: frontend

#1386 [SC-214191] nextstrain tree location analytics
  src/frontend/src/common/analytics/eventTypes.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
Labels: frontend

#1387 migration for nextclade output
  src/backend/database_migrations/versions/20221007_170744_nextclade_output_tables.py
Labels: migration

#1391 Fix location_id param
  src/frontend/src/common/queries/trees.ts
Labels: frontend, ez-pz

#1388 [SC-210100] GISAID Terms of use updates.
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/style.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/style.ts
  src/frontend/src/common/styles/basicStyle.ts
  src/frontend/src/common/styles/mixins/global.ts
Labels: frontend, ez-pz

#1394 Robustly handle sample ids for pangolin jobs
  .happy/terraform/modules/sfn_config/pangolin-ondemand.wdl
  .happy/terraform/modules/sfn_config/pangolin.wdl
  src/backend/aspen/workflows/pangolin/export.py
  src/backend/aspen/workflows/pangolin/find_samples.py
  src/backend/aspen/workflows/pangolin/run_pangolin.sh
  src/backend/aspen/workflows/pangolin/tests/sample_ids.txt
  src/backend/aspen/workflows/pangolin/tests/test_pangolin_workflow.py
Labels: bug, backend

#1398 Change gisaid workdir to /nextstrain
  src/backend/Dockerfile.gisaid
Labels: backend

#1375 [SC-215051] Replace css Xpath selectors
  src/frontend/e2e/fixtures/locations.json
  src/frontend/e2e/pages/basePage.ts
  src/frontend/e2e/pages/upload.ts
  src/frontend/e2e/setup/local.config.ts
  src/frontend/e2e/setup/staging.config.ts
  src/frontend/e2e/tests/filter-samples.spec.ts
  src/frontend/e2e/tests/home.spec.ts
  src/frontend/e2e/tests/sample-page.spec.ts
  src/frontend/e2e/tests/security.spec.ts
  src/frontend/e2e/tests/upload.spec.ts
  src/frontend/e2e/utils/common.ts
  src/frontend/e2e/utils/constants.ts
  src/frontend/e2e/utils/filter.ts
  src/frontend/e2e/utils/sample.ts
  src/frontend/e2e/utils/schemas/sampleResponseData.ts
  src/frontend/e2e/utils/schemas/sampleResponseDefaults.ts
  src/frontend/e2e/utils/schemas/sampleUploadData.ts
  src/frontend/e2e/utils/upload.ts
  src/frontend/package.json
Labels: e2e

#1401 Add todo bot.
  .github/workflows/pull-request-todo.yml
Labels: frontend

#1403 Maya/224106 search bar isolation
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/components/library/data_subview/style.ts
  src/frontend/src/components/Table/components/SearchBar/index.tsx
Labels: enhancement, frontend

#1397 [SC-224761] Add analytics fields.
  src/frontend/src/common/analytics/eventTypes.ts
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
Labels: frontend

#1408 Render static metadata table on >= 100 sample uploads
  src/frontend/src/components/Split/types.ts
  src/frontend/src/views/Upload/components/Metadata/components/StaticTable/components/Row/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/StaticTable/components/Row/style.ts
  src/frontend/src/views/Upload/components/Metadata/components/StaticTable/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/StaticTable/style.ts
  src/frontend/src/views/Upload/components/Metadata/index.tsx
Labels: enhancement, frontend, javascript

#1407 Rdev vince analytics upload flow
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/common/analytics/eventTypes.ts
  src/frontend/src/views/Upload/components/Review/components/Upload/index.tsx
  src/frontend/src/views/Upload/components/Review/index.tsx
  src/frontend/src/views/Upload/components/common/types.ts
  src/frontend/src/views/Upload/index.tsx
Labels: enhancement, frontend, analytics

#1409 turn prettier back on
  src/frontend/.eslintrc.js
  src/frontend/e2e/pages/basePage.ts
  src/frontend/e2e/utils/common.ts
  src/frontend/e2e/utils/nexstraintree.ts
  src/frontend/e2e/utils/schemas/treeInfo.ts
  src/frontend/jest/setup.ts
  src/frontend/src/common/analytics/OneTrustInitializer.tsx
  src/frontend/src/common/components/library/data_subview/components/DeleteSamplesConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DeleteTreeConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/index.tsx
  src/frontend/src/common/redux/actions/index.ts
  src/frontend/src/common/redux/selectors/index.ts
  src/frontend/src/common/redux/types.ts
  src/frontend/src/common/utils/TreeModal/ConfirmButton/index.tsx
  src/frontend/src/components/NotificationManager/components/CreateNSTreeSuccessNotif/index.tsx
  src/frontend/src/components/NotificationManager/components/CreateNSTreeSuccessNotif/style.ts
  src/frontend/src/components/NotificationManager/components/DownloadFilesFailureNotif/index.tsx
  src/frontend/src/components/NotificationManager/components/Notification/index.tsx
  src/frontend/src/components/NotificationManager/components/SendInviteSuccessNotif/index.tsx
  src/frontend/src/components/NotificationManager/components/UsherPlacementSuccessNotif/index.tsx
  src/frontend/src/components/Split/SplitPathogenWrapper.tsx
  src/frontend/src/components/Split/pathogenSplitConfig.ts
  src/frontend/src/components/Split/util.ts
  src/frontend/src/components/Table/components/SearchBar/index.tsx
  src/frontend/src/views/Data/components/SamplesView/index.tsx
  src/frontend/src/views/Data/components/TreesView/index.tsx
  src/frontend/src/views/Data/index.tsx
  src/frontend/src/views/Data/transforms.tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/InviteModal/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/StaticTable/index.tsx
  src/frontend/src/views/Upload/components/Metadata/index.tsx
  src/frontend/src/views/Upload/index.tsx
Labels: frontend, ez-pz

#1410 Remove PR body checks by upgrading to cz-pr-bot v1.4
  .github/workflows/pull-request-todo.yml
Labels: enhancement

#1404 [SC-215831] Warn if more than 1000 samples and gisaid download.
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/style.ts
Labels: frontend, ez-pz

#1411 Maya/224006 samplesview
  src/frontend/src/common/queries/phyloRuns.ts
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/common/titles.ts
  src/frontend/src/common/types/bioinformatics.d.ts
  src/frontend/src/common/utils/TreeModal/ConfirmButton/index.tsx
  src/frontend/src/common/utils/dataTransforms.ts
  src/frontend/src/views/Data/components/SamplesView/index.tsx
  src/frontend/src/views/Data/components/TreesView/index.tsx
  src/frontend/src/views/Data/index.tsx
Labels: enhancement, frontend

#1414 Remove deprecated tables/columns
  src/backend/database_migrations/versions/20221021_175601_drop_unused_tables.py
Labels: backend, ez-pz

#1416 Update cffi to 1.15.1
  src/backend/poetry.lock
  src/backend/pyproject.toml
Labels: backend, dependencies

#1415 Lineage filter bugfix
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleFiltering/components/LineageFilter/index.tsx
Labels: bug, frontend

#1419 [SC-225222] Landing page updates.
  src/frontend/src/common/images/landingv2-hero.svg
  src/frontend/src/common/images/ncbi-logo.png
  src/frontend/src/common/images/nextclade-logo.png
  src/frontend/src/common/routes.ts
  src/frontend/src/components/NavBar/components/StaticPageNavBar/index.tsx
  src/frontend/src/components/Split/types.ts
  src/frontend/src/views/LandingPageV2/components/Footer/index.tsx
  src/frontend/src/views/LandingPageV2/components/Hero/style.ts
  src/frontend/src/views/LandingPageV2/components/PartnersSection/index.tsx
  src/frontend/src/views/LandingPageV2/components/PartnersSection/style.ts
Labels: frontend

#1420 Migration: resolved args; default loc id not NULL
  src/backend/database_migrations/versions/20221025_234200_add_resolved_template_args_col_default_.py
Labels: migration

#1421 Write to `pathogen_lineages` alongside `pango_lineages`
  src/backend/aspen/workflows/import_pango_lineages/load_lineages.py
  src/backend/aspen/workflows/shared_utils/database.py
Labels: backend

#1422 Write `public_repository_metadata` alongside `gisaid_metadata`
  src/backend/aspen/workflows/import_gisaid/save.py
  src/backend/aspen/workflows/import_pango_lineages/load_lineages.py
  src/backend/aspen/workflows/shared_utils/database.py
Labels: backend

#1424 Maya/223983 sample table
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/common/types/data.d.ts
  src/frontend/src/common/utils/TreeModal/ConfirmButton/index.tsx
  src/frontend/src/common/utils/tableUtils.tsx
  src/frontend/src/views/Data/components/DataNavigation/FilterPanelToggle/index.tsx
  src/frontend/src/views/Data/components/DataNavigation/FilterPanelToggle/style.ts
  src/frontend/src/views/Data/components/DataNavigation/index.tsx
  src/frontend/src/views/Data/components/DataNavigation/style.ts
  src/frontend/src/views/Data/components/SamplesView/index.tsx
  src/frontend/src/views/Data/components/SamplesView/style.ts
  src/frontend/src/views/Data/index.tsx
  src/frontend/src/views/Data/style.ts
Labels: enhancement, frontend

#1406 add lineage_qc dockerfile, install nextclade
  .github/workflows/push-rdev.yml
  .github/workflows/push-tests.yml
  .happy/config.json
  .happy/terraform/modules/ecs-stack/main.tf
  Makefile
  docker-compose.yml
  docs/REMOTE_DEV.md
  src/backend/Dockerfile.lineage_qc
Labels: backend
