Repository chanzuckerberg/czgenepi, pull requests merged in 2022-12, with the labels that each got.

#1485 [SC-225247] move upload button
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/components/library/data_subview/style.ts
  src/frontend/src/components/NavBar/components/AppNavBar/index.tsx
  src/frontend/src/components/NavBar/components/AppNavBar/style.ts
  src/frontend/src/components/NavBar/components/RightNav/components/UserMenu/index.tsx
  src/frontend/src/components/NavBar/components/RightNav/components/UserMenu/style.ts
  src/frontend/src/components/NavBar/components/RightNav/index.tsx
  src/frontend/src/components/NavBar/components/RightNav/style.ts
  src/frontend/src/components/NavBar/components/StaticPageNavBar/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/SampleTableActions/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/SampleTableActions/style.ts
Labels: frontend

#1486 Kickoff for on-demand Mutations/QC/Lineages
  scripts/setup_dev_data.sh
  src/backend/aspen/api/settings.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/config/config.py
  src/backend/aspen/util/swipe.py
Labels: backend

#1487 [SC-225227] Edit flow copy changes.
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/EditSamplesConfirmationModal/components/EditSampleMetadataInstructions/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/EditSamplesConfirmationModal/components/EditSampleMetadataInstructions/strings.ts
Labels: frontend, ez-pz

#1484 Select Usher db query param argument based on current pathogen
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/UsherTreeFlow/components/UsherPlacementModal/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/UsherTreeFlow/index.tsx
Labels: bug, frontend, javascript, ez-pz

#1491 Use repository config prefix to auto-generate public id's
  src/backend/aspen/api/utils/repo_metadata.py
  src/backend/aspen/api/views/phylo_runs.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/tests/test_create_phylo_runs.py
  src/backend/aspen/api/views/tests/test_create_samples.py
  src/backend/aspen/api/views/tests/test_samples.py
  src/backend/aspen/api/views/tests/test_sequences.py
  src/backend/aspen/api/views/tests/test_submission_templates.py
  src/backend/aspen/database/models/sample.py
  src/backend/aspen/test_infra/models/pathogen_repo_config.py
Labels: bug, backend

#1492 Update GHA Happy version to 0.41.0
  .github/workflows/deploy-happy-stack.yml
  .github/workflows/push-rdev.yml
  .github/workflows/push-tests.yml
  .github/workflows/scheduled-prod-deploy.yml
Labels: ez-pz

#1489 add last updated field to SampleLineages
  src/backend/aspen/api/schemas/samples.py
  src/backend/aspen/api/utils/sample.py
  src/backend/aspen/api/views/tests/test_samples.py
  src/backend/aspen/database/models/lineages.py
  src/backend/aspen/test_infra/models/lineage.py
  src/backend/aspen/workflows/pangolin/save.py
  src/backend/database_migrations/versions/20221201_174505_add_last_updated_lineages.py
  src/frontend/e2e/utils/sample.ts
  src/frontend/e2e/utils/schemas/sampleResponseData.ts
  src/frontend/src/common/types/bioinformatics.d.ts
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/components/LineageTooltip/index.tsx
Labels: migration

#1490 [SC-225245] Hide/show tree creation menu items based on pathogen.
  src/frontend/src/components/Split/pathogenSplitConfig.ts
  src/frontend/src/components/Split/types.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/SampleTableActions/components/TreeSelectionMenu/index.tsx
Labels: frontend, ez-pz

#1497 Fix sample list no qc status test
  src/backend/aspen/api/views/tests/test_samples.py
Labels: backend, ez-pz, tests

#1501 [SC-225231] Update header tooltips.
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
  src/frontend/src/views/Data/table-headers/commonSampleHeaders.tsx
  src/frontend/src/views/Data/table-headers/sampleHeadersConfig.tsx
Labels: frontend, ez-pz

#1504 [SC-228363] bring back lineage tooltip
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/components/LineageTooltip/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeTypeTooltip/index.tsx
Labels: frontend, ez-pz

#1512 Make sure we can delete samples with related rows.
  src/backend/aspen/api/views/tests/test_samples.py
  src/backend/aspen/database/models/lineages.py
  src/backend/aspen/database/models/sample.py
  src/backend/aspen/test_infra/models/sample_mutations.py
  src/backend/scripts/setup_localdata.py
Labels: bug, backend

#1511 SC-225235 lineage cell tooltip for mpox
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/components/LineageTooltip/components/CovidLineageTooltip/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/components/LineageTooltip/components/CovidLineageTooltip/style.ts
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/components/LineageTooltip/components/GeneralViralLineageTooltip/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/components/LineageTooltip/components/GeneralViralLineageTooltip/style.ts
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/components/LineageTooltip/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/components/LineageTooltip/lineageTooltipConfig.tsx
Labels: frontend

#1514 SC-228637 capitalize m in Mpox for sample upload confirmation
  src/frontend/src/views/Upload/components/Review/components/Upload/strings.ts
Labels: frontend, ez-pz

#1513 Add in QC/Mutations download BE endpoint
  src/backend/aspen/api/main.py
  src/backend/aspen/api/schemas/qc_mutations.py
  src/backend/aspen/api/utils/__init__.py
  src/backend/aspen/api/utils/tsv_streamer.py
  src/backend/aspen/api/views/qc_mutations.py
Labels: enhancement, backend

#1516 SC-228635 Collection location bug
  src/frontend/src/views/Data/cellRenderers.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
Labels: frontend, ez-pz

#1517 SC-228652 Hide trees tab for mpox.
  src/frontend/src/views/Data/components/DataNavigation/index.tsx
  src/frontend/src/views/Data/index.tsx
Labels: frontend, ez-pz

#1521 metadata tsv download fix for qcMetrics and lineages
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/components/DownloadButton/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/components/DownloadButton/mapTsvData.ts
  src/frontend/src/views/Data/table-headers/commonSampleHeaders.tsx
  src/frontend/src/views/Data/table-headers/sampleHeadersConfig.tsx
Labels: bug, frontend

#1522 QC Filter/ nextclade download design fixes
  src/backend/scripts/setup_localdata.py
  src/frontend/src/common/components/library/data_table/index.tsx
  src/frontend/src/common/utils/typeUtils.tsx
  src/frontend/src/components/FilterPanel/components/QCStatusFilter/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/components/DownloadMenuSelection/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/components/DownloadMenuSelection/style.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/style.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/index.tsx
Labels: design feedback, frontend

#1523 clear checked samples after download modal close [EZPZ]
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/index.tsx
Labels: bug, frontend

#1524 CLI: Download for QC/Mutations output
  src/cli/aspencli.py
Labels: enhancement

#1525 update template date.
  src/frontend/src/components/DownloadMetadataTemplate/prepMetadataTemplate.ts
Labels: frontend, ez-pz
