Repository chanzuckerberg/czgenepi, pull requests merged in 2022-07, with the labels that each got.

#1198 Update GISAID ID related text
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/components/InputInstructions/index.tsx
  src/frontend/src/views/Data/headers.tsx
Labels: frontend, ez-pz

#1199 Add authorizedsession object for using oso in Depends calls
  src/backend/aspen/api/authz.py
Labels: backend

#1196 Maya/192742 redux
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/pages/_app.tsx
  src/frontend/src/common/redux/actions/index.ts
  src/frontend/src/common/redux/hooks/index.ts
  src/frontend/src/common/redux/index.ts
  src/frontend/src/common/redux/middleware/index.ts
  src/frontend/src/common/redux/selectors/index.ts
  src/frontend/src/common/redux/types.ts
  src/frontend/src/components/NavBar/components/AppNavBar/components/GroupDetailsDropdown/components/GroupMenuItem/index.tsx
Labels: enhancement, frontend

#1201 Vince/segment methods
  src/frontend/pages/_app.tsx
  src/frontend/public/segmentInitScript.js
  src/frontend/src/common/analytics/SegmentInitializer.tsx
  src/frontend/src/common/analytics/eventTypes.ts
  src/frontend/src/common/analytics/methods.ts
  src/frontend/src/common/queries/auth.ts
  src/frontend/src/common/types/windowAnalytics.d.ts
  src/frontend/src/views/Data/components/NextstrainConfirmationModal/index.tsx
Labels: enhancement, frontend

#1206 Add unittests specifically for policy & DB interactions
  src/backend/aspen/api/policy.polar
  src/backend/aspen/api/utils/sample.py
  src/backend/aspen/api/views/tests/test_authz_policy.py
Labels: backend, tests

#1207 Update welcome email with help center link.
  src/frontend/auth0_templates/welcome_email_template.html
Labels: documentation, ez-pz

#1204 Maya/192742 redux
  src/frontend/src/common/queries/auth.ts
  src/frontend/src/common/queries/groups.ts
  src/frontend/src/common/redux/index.ts
  src/frontend/src/common/redux/selectors/index.ts
  src/frontend/src/common/types/user.d.ts
  src/frontend/src/common/utils/userUtils.ts
  src/frontend/src/components/NavBar/components/AppNavBar/components/GroupDetailsDropdown/index.tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/InviteModal/index.tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/index.tsx
  src/frontend/src/views/GroupMembersPage/index.tsx
Labels: enhancement, frontend

#1213 actually enable multi groups
  src/frontend/src/components/NavBar/components/AppNavBar/components/GroupDetailsDropdown/index.tsx
Labels: enhancement

#1212 update nextstrain docker
  src/backend/Dockerfile.gisaid
  src/backend/Dockerfile.nextstrain
Labels: backend, ez-pz

#1220 Sync auth0 user/group roles to the db on login
  src/backend/aspen/api/views/auth.py
  src/backend/aspen/api/views/tests/test_auth.py
  src/backend/aspen/api/views/users.py
  src/backend/aspen/auth/auth0_management.py
  src/backend/aspen/auth/role_manager.py
Labels: enhancement, backend

#1221 update uploads page with group name
  src/frontend/src/views/Upload/components/Review/index.tsx
  src/frontend/src/views/Upload/components/Review/style.ts
Labels: enhancement, frontend, ez-pz

#1226 Don't check for duplicate users before sending invitations
  src/backend/aspen/api/authn.py
  src/backend/aspen/api/authz.py
  src/backend/aspen/api/main.py
  src/backend/aspen/api/policy.polar
  src/backend/aspen/api/utils/fasta_streamer.py
  src/backend/aspen/api/views/groups.py
  src/backend/aspen/api/views/samples.py
  src/backend/aspen/api/views/sequences.py
  src/backend/aspen/api/views/tests/test_authz_policy.py
  src/backend/aspen/api/views/tests/test_groups.py
  src/backend/aspen/auth/auth0_management.py
  src/backend/aspen/database/models/sample.py
  src/cli/aspencli.py
Labels: enhancement, backend

#1215 Allow easier selection of multiple lineages
  src/backend/aspen/api/schemas/phylo_runs.py
  src/backend/aspen/api/utils/__init__.py
  src/backend/aspen/api/utils/lineage.py
  src/backend/aspen/api/views/lineages.py
  src/backend/aspen/api/views/phylo_runs.py
  src/backend/aspen/api/views/tests/test_create_phylo_runs.py
  src/backend/aspen/test_infra/models/lineage.py
Labels: enhancement, backend

#1231 Fix template args test for phylo tree creation
  src/backend/aspen/api/views/tests/test_create_phylo_runs.py
Labels: bug

#1232 Make sure localdev users can still log in.
  src/backend/aspen/api/conftest.py
  src/backend/aspen/api/views/auth.py
  src/backend/aspen/api/views/tests/test_auth.py
Labels: backend, ez-pz

#1222 Documentation for redux
  docs/frontend/README.md
Labels: documentation

#1234 sc190571 - don't include optional fields in missing headers
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/parseFile.ts
Labels: frontend

#1235 Maya/group switch flake b gone
  src/frontend/pages/_app.tsx
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/components/SampleIdInput/index.tsx
  src/frontend/src/common/components/library/data_subview/components/CreateNSTreeModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DeleteSamplesConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DeleteTreeConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/components/EditSamplesReviewDialog/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditSamplesConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/EditTreeConfirmationModal/index.tsx
  src/frontend/src/common/components/library/data_subview/components/UsherTreeFlow/components/UsherPlacementModal/index.tsx
  src/frontend/src/common/queries/auth.ts
  src/frontend/src/common/queries/groups.ts
  src/frontend/src/common/queries/phyloRuns.ts
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/common/queries/trees.ts
  src/frontend/src/common/redux/middleware/index.ts
  src/frontend/src/common/types/user.d.ts
  src/frontend/src/common/utils/TreeModal/ConfirmButton/index.tsx
  src/frontend/src/common/utils/userInfo.ts
  src/frontend/src/components/NavBar/components/AppNavBar/components/GroupDetailsDropdown/index.tsx
  src/frontend/src/components/NavBar/components/AppNavBar/index.tsx
  src/frontend/src/components/NavBar/components/StaticPageNavBar/index.tsx
  src/frontend/src/views/Data/components/TreeActionMenu/components/MoreActionsMenu/index.tsx
  src/frontend/src/views/Data/index.tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/components/InviteModal/index.tsx
  src/frontend/src/views/GroupMembersPage/components/MembersTab/index.tsx
  src/frontend/src/views/GroupMembersPage/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Upload/index.tsx
  src/frontend/src/views/Upload/components/Review/index.tsx
Labels: enhancement, frontend

#1237 don't show current group in dropdown
  src/frontend/src/components/NavBar/components/AppNavBar/components/GroupDetailsDropdown/index.tsx
Labels: bug, design feedback

#1239 add error pages and components for invite errors
  src/frontend/pages/auth/invite/already_accepted.tsx
  src/frontend/pages/auth/invite/expired.tsx
  src/frontend/src/common/images/CZGenEpiLogoBlack.svg
  src/frontend/src/components/AuthenticationError/index.tsx
  src/frontend/src/components/AuthenticationError/style.ts
  src/frontend/src/views/InviteAlreadyAccepted/index.tsx
  src/frontend/src/views/InviteExpired/index.tsx
Labels: enhancement, frontend

#1240 Support syncing roles to/from auth0
  src/backend/aspen/auth/auth0_management.py
  src/backend/aspen/cli/sync_auth0.py
  src/backend/aspen/database/models/usergroup.py
Labels: backend

#1238 optionally accept nextstrain headers for upload [sc190569]
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Instructions/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/parseFile.ts
  src/frontend/src/views/Upload/components/common/constants.ts
Labels: frontend

#1241 Make sure new accounts get commit'ed to the db
  src/backend/aspen/api/views/auth.py
  src/backend/aspen/api/views/tests/test_auth.py
  src/backend/aspen/cli/sync_auth0.py
Labels: bug, backend

#1243 sort members alphabetically, as a human reads
  src/frontend/src/common/utils/strUtils.ts
  src/frontend/src/views/GroupMembersPage/index.tsx
Labels: design feedback, frontend, ez-pz

#1245 SC-137461 Add followCursor to lineage tooltip.
  src/frontend/src/views/Data/cellRenderers.tsx
Labels: frontend

#1247 Maya/welcome group update
  src/frontend/pages/welcome/[groupId].tsx
  src/frontend/src/common/queries/auth.ts
  src/frontend/src/common/redux/index.ts
  src/frontend/src/common/utils/groupUtils.ts
  src/frontend/src/views/Welcome/index.tsx
Labels: enhancement, frontend

#1248 SC-181281 Show metadata warning on upload modal.
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/index.tsx
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/parseFile.ts
Labels: frontend

#1246 Send slack updates on prod success/failure.
  .github/workflows/deploy-happy-stack.yml
  .github/workflows/scheduled-prod-deploy.yml
Labels: bug

#1253 SC-194962 (1 of 2) Add GenBank download checkbox.
  src/frontend/src/common/components/library/data_subview/components/DownloadModal/index.tsx
Labels: frontend
