Repository chanzuckerberg/czgenepi, pull requests merged in 2023-03, with the labels that each got.

#1633 Maya/gisaid genbank shuffle
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/Acknowledgement/acknowledgementConfig.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/Acknowledgement/components/GisaidAcknowledement/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/Acknowledgement/components/GisaidAcknowledement/style.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/Acknowledgement/components/NSAcknowledement/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/Acknowledgement/components/NSAcknowledement/style.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/AcknowledgementFooter/acknowledgementFooterConfig.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/AcknowledgementFooter/components/GisaidAcknowledgementFooter/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/AcknowledgementFooter/components/GisaidAcknowledgementFooter/style.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/AcknowledgementFooter/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/SampleIdInput/components/InputInstructions/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/SampleIdInput/components/InputInstructions/strings.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/SampleIdInput/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/SampleIdInput/strings.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/columnDefinitions/gisaid.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/pathogenColumnConfig.ts
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeTableNameCell/index.tsx
  src/frontend/src/views/LandingPageV2/components/PartnersSection/index.tsx
  src/frontend/src/views/LandingPageV2/components/PartnersSection/style.ts
Labels: frontend

#1632 banner on small screens
  src/frontend/src/components/NavBar/components/AppNavBar/components/Announcements/style.ts
Labels: ez-pz

#1638 Bugfix: sample deletion
  .github/workflows/scheduled-prod-deploy.yml
  src/backend/aspen/database/models/sample.py
  src/backend/aspen/database/models/sequences.py
Labels: bug, backend
