Repository chanzuckerberg/czgenepi, pull requests merged in 2023-01, with the labels that each got.

#1528 Fix hardcoded year in python test
  src/backend/aspen/api/views/tests/test_samples.py
Labels: bug, backend, ez-pz, tests

#1529 Remove extra Learn More from QC tooltip.
  src/frontend/src/views/Data/cellRenderers.tsx
  src/frontend/src/views/Data/table-headers/commonSampleHeaders.tsx
Labels: frontend, ez-pz

#1531 Remove galago_integration user feature flag.
  src/frontend/src/components/Split/types.ts
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/index.tsx
Labels: frontend, ez-pz

#1530 Add space between Learn More link and tooltip text.
  src/frontend/src/views/Data/cellRenderers.tsx
  src/frontend/src/views/Data/table-headers/commonSampleHeaders.tsx
Labels: frontend, ez-pz

#1527 Handle lineage `last_updated` for non-covid samples
  src/backend/aspen/api/utils/sample.py
  src/backend/aspen/api/views/tests/test_samples.py
Labels: bug, backend

#1536 add info tooltip to createnstreemodal header
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/style.ts
Labels: frontend, ez-pz

#1532 Remove tree-location-filter feature flag.
  src/frontend/src/components/Split/types.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/RadioLabel/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/RadioLabel/strings.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/SampleFiltering/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeTypeTooltip/index.tsx
Labels: frontend, ez-pz

#1535 Remove conda from our codebase
  src/backend/Dockerfile
  src/backend/Dockerfile.lineage_qc
  src/backend/Dockerfile.pangolin
  src/backend/aspen/workflows/pangolin/install_pangolin.sh
  src/backend/aspen/workflows/pangolin/run_pangolin.sh
  src/backend/aspen/workflows/pangolin/update_pangolin.sh
Labels: bug, backend

#1540 [SC-228205] Create Nextstrain tree modal Sample box copy
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/SampleIdInput/components/InputInstructions/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/SampleIdInput/components/InputInstructions/strings.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/SampleIdInput/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/SampleIdInput/strings.ts
Labels: frontend, ez-pz

#1544 [SC-228214] Create tree modal - radio button copy updates.
  src/frontend/src/components/Split/pathogenSplitConfig.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/RadioLabel/strings.ts
Labels: frontend, ez-pz

#1537 qc filter/ nextclade download cleanup
  src/frontend/e2e/tests/filter-samples.spec.ts
  src/frontend/e2e/tests/sample-page.spec.ts
  src/frontend/e2e/utils/sample.ts
  src/frontend/e2e/utils/schemas/sampleResponseData.ts
  src/frontend/e2e/utils/schemas/sampleResponseDefaults.ts
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/components/library/data_table/index.tsx
  src/frontend/src/common/types/bioinformatics.d.ts
  src/frontend/src/components/FilterPanel/components/GenomeRecoveryFilter/index.tsx
  src/frontend/src/components/FilterPanel/index.tsx
  src/frontend/src/components/Split/types.ts
  src/frontend/src/views/Data/cellRenderers.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/CreateNSTreeModal.test.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/BadQCSampleAlert/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/FailedSampleAlert/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/FailedSampleAlert/style.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/UsherTreeFlow/components/UsherPlacementModal/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/UsherTreeFlow/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/index.tsx
  src/frontend/src/views/Upload/components/Samples/utils.ts
Labels: frontend

#1542 add migration to remove the czb_failed_genome_recovery field
  src/backend/aspen/database/models/sample.py
  src/backend/aspen/test_infra/models/sample.py
  src/backend/database_migrations/versions/20230110_175025_remove_czb_failed_genome_recovery_field.py
Labels: migration

#1545 fix upload button
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/SampleTableActions/index.tsx
Labels: frontend, ez-pz

#1548 add node version file for nvm
  .node-version
Labels: frontend, ez-pz

#1549 Maya/table perf
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/components/DefaultCell/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
  src/frontend/src/views/Data/components/SamplesView/index.tsx
  src/frontend/src/views/Data/components/SortableHeader/index.tsx
Labels: bug, frontend

#1546 install nginx extras
  src/backend/Dockerfile
  src/backend/Dockerfile.arm64
  src/backend/Dockerfile.gisaid
  src/backend/Dockerfile.lineage_qc
  src/backend/Dockerfile.nextstrain
  src/backend/Dockerfile.pangolin
  src/backend/aspen/api/conftest.py
  src/backend/aspen/api/views/tests/test_authz_policy.py
  src/backend/aspen/conftest.py
  src/backend/aspen/tests/test_backend_serves_requests.py
  src/backend/poetry.lock
  src/backend/pyproject.toml
Labels: bug, backend

#1553 Maya/228059 demo feedback
  src/frontend/src/common/queries/queryClient.ts
  src/frontend/src/common/utils/samples.ts
  src/frontend/src/components/DateFilterMenu/index.tsx
  src/frontend/src/components/FilterPanel/components/DateFilter/components/DateChip/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/style.ts
  src/frontend/src/views/Data/components/SortableHeader/index.tsx
  src/frontend/src/views/Data/components/SortableHeader/style.ts
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeTableNameCell/style.ts
Labels: frontend

#1554 Maya/qc status chips
  src/frontend/src/views/Data/cellRenderers.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/components/QualityScoreTag/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
Labels: frontend

#1556 Stop using python 3.9
  .happy/terraform/modules/sfn_config/pangolin.wdl
Labels: bug, good first issue, backend, ez-pz

#1560 fix 500 sample limit bug; remove static md table ff
  src/frontend/src/components/Split/types.ts
  src/frontend/src/views/Upload/components/Metadata/index.tsx
  src/frontend/src/views/Upload/components/Samples/index.tsx
Labels: bug, frontend

#1563 Don't commit lineage notes.
  src/backend/aspen/workflows/import_pango_lineages/.gitignore
Labels: ez-pz

#1567 Performance improvements and style updates for samples table
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/common/styles/appStyle.ts
  src/frontend/src/common/utils/memo.ts
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/components/DefaultCell/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/components/VirtualBumper/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/style.ts
  src/frontend/src/views/Data/components/SamplesView/index.tsx
  src/frontend/src/views/Data/components/SortableHeader/index.tsx
Labels: bug, frontend

#1547 Script to ingest Mpox lineages
  src/backend/aspen/util/pathogen_configs.py
  src/backend/aspen/workflows/import_lineages/load_lineages.py
  src/backend/aspen/workflows/import_lineages/tests/test_import.py
  src/backend/aspen/workflows/import_pango_lineages/entrypoint.sh
  src/backend/aspen/workflows/import_pango_lineages/load_pango_lineages.py
  src/backend/aspen/workflows/test-pangolin.sh
Labels: enhancement, good first issue, backend

#1576 [SC-229039] monkeypox analytics events
  src/frontend/src/common/analytics/eventTypes.ts
  src/frontend/src/components/FilterPanel/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/components/DownloadButton/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/components/OpenInNextstrainButton/components/NextstrainConfirmationModal/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/components/TreeTableDownloadMenu/index.tsx
  src/frontend/src/views/Upload/components/Review/components/Upload/index.tsx
  src/frontend/src/views/Upload/index.tsx
Labels: frontend, ez-pz

#1577 Maya/224267 remove old table
  src/frontend/src/common/components/index.tsx
  src/frontend/src/common/components/library/data_subview/index.tsx
  src/frontend/src/common/components/library/data_subview/style.ts
  src/frontend/src/common/types/data.d.ts
  src/frontend/src/components/Split/index.tsx
  src/frontend/src/views/Data/components/DataNavigation/index.tsx
  src/frontend/src/views/Data/components/StatusChip/index.tsx
  src/frontend/src/views/Data/components/StatusChip/style.ts
  src/frontend/src/views/Data/index.tsx
  src/frontend/src/views/Data/style.ts
Labels: frontend

#1578 Maya/224267 remove old 2
  src/frontend/src/common/components/library/data_table/index.tsx
  src/frontend/src/common/utils/index.tsx
  src/frontend/src/common/utils/tableUtils.ts
  src/frontend/src/common/utils/tableUtils.tsx
  src/frontend/src/views/Data/cellRenderers.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/index.tsx
  src/frontend/src/views/Data/constants.ts
  src/frontend/src/views/Data/style.ts
Labels: frontend

#1579 Remove DataTable and associated styles
  src/frontend/src/common/components/index.tsx
  src/frontend/src/common/components/library/Table/index.tsx
  src/frontend/src/common/components/library/data_table/components/HeaderRow/components/TableHeader/index.tsx
  src/frontend/src/common/components/library/data_table/components/HeaderRow/components/TableHeader/style.ts
  src/frontend/src/common/components/library/data_table/components/HeaderRow/index.tsx
  src/frontend/src/common/components/library/data_table/components/HeaderRow/style.ts
  src/frontend/src/common/components/library/data_table/index.tsx
  src/frontend/src/common/components/library/data_table/style.ts
  src/frontend/src/common/types/data.d.ts
  src/frontend/src/common/utils/timeUtils.tsx
  src/frontend/src/views/Data/components/EmptyState/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeTableNameCell/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeTableNameCell/style.ts
Labels: frontend

#1580 Clean up prop names on table specific subcomponents
  src/frontend/src/common/types/bioinformatics.d.ts
  src/frontend/src/common/types/data.d.ts
  src/frontend/src/components/Split/types.ts
  src/frontend/src/views/Data/components/DataNavigation/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
  src/frontend/src/views/Data/components/SamplesView/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/components/MoreActionsMenu/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/components/OpenInGalagoButton/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/components/OpenInNextstrainButton/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/components/TreeTableDownloadMenu/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeTableNameCell/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeTypeTooltip/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/index.tsx
  src/frontend/src/views/Data/index.tsx
  src/frontend/src/views/Data/transforms.tsx
Labels: frontend

#1584 Fix importing pango lineages.
  src/backend/aspen/workflows/import_pango_lineages/load_pango_lineages.py
Labels: bug, backend, ez-pz

#1582 Remove old table types and remediate exposed type errors
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/types/bioinformatics.d.ts
  src/frontend/src/common/types/table.d.ts
  src/frontend/src/components/FilterPanel/index.tsx
  src/frontend/src/views/Data/components/DataNavigation/index.tsx
  src/frontend/src/views/Data/components/EmptyState/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/components/DownloadButton/mapTsvData.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/EditSamplesConfirmationModal/utils.ts
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
  src/frontend/src/views/Data/components/SamplesView/style.ts
  src/frontend/src/views/Data/components/SortableHeader/components/TooltipText/index.tsx
  src/frontend/src/views/Data/components/SortableHeader/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/NextstrainConfirmationModal/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeActionMenu/components/OpenInNextstrainButton/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeTableNameCell/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/index.tsx
  src/frontend/src/views/Data/headers.tsx
  src/frontend/src/views/Data/table-headers/commonSampleHeaders.tsx
  src/frontend/src/views/Data/tableHeaders/commonSampleHeaders.tsx
  src/frontend/src/views/Data/tableHeaders/sampleHeadersConfig.tsx
  src/frontend/src/views/Data/tableHeaders/types.ts
  src/frontend/src/views/Data/transforms.tsx
  src/frontend/src/views/Data/types.ts
Labels: frontend

#1587 Maya/229065 genericize table
  src/frontend/src/common/components/library/Table/index.tsx
  src/frontend/src/common/queries/phyloRuns.ts
  src/frontend/src/common/redux/middleware/index.ts
  src/frontend/src/common/utils/dataTransforms.ts
  src/frontend/src/components/Table/columnDefinitions/RowSelectionColumn/index.tsx
  src/frontend/src/components/Table/columnDefinitions/RowSelectionColumn/style.ts
  src/frontend/src/components/Table/components/VirtualBumper/index.tsx
  src/frontend/src/components/Table/index.tsx
  src/frontend/src/components/Table/style.ts
  src/frontend/src/views/Data/components/DataNavigation/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/style.ts
  src/frontend/src/views/Data/components/SamplesView/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeTableNameCell/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/index.tsx
  src/frontend/src/views/Data/components/TreesView/index.tsx
Labels: frontend

#1588 [SC-227420] Separate nextstrain acknowledgement components per pathogen.
  src/frontend/src/common/images/NCBI-virus-logo-minimal.png
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/Acknowledgement/acknowledgementConfig.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/Acknowledgement/components/GisaidAcknowledement/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/Acknowledgement/components/GisaidAcknowledement/style.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/Acknowledgement/components/NcbiVirusAcknowledgement/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/Acknowledgement/components/NcbiVirusAcknowledgement/style.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/Acknowledgement/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/AcknowledgementFooter/acknowledgementFooterConfig.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/AcknowledgementFooter/components/GisaidAcknowledgementFooter/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/AcknowledgementFooter/components/GisaidAcknowledgementFooter/style.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/AcknowledgementFooter/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/style.ts
Labels: frontend

#1594 Make sure aligned sequence dumps have an associated workflow.
  .happy/terraform/modules/sfn_config/genbank-mpx.wdl
  src/backend/aspen/workflows/ingest_aligned_sequences/__init__.py
  src/backend/aspen/workflows/ingest_aligned_sequences/save.py
  src/backend/pipeline_tests/test_data/genbank_mpx_pipeline_inputs.json
Labels: bug, backend
