Repository chanzuckerberg/czgenepi, pull requests merged in 2023-04, with the labels that each got.

#1643 [SC-230476] Update banner.
  src/frontend/src/components/NavBar/components/AppNavBar/components/Announcements/index.tsx
  src/frontend/src/components/NavBar/components/AppNavBar/components/Announcements/style.ts
Labels: frontend

#1649 Update copy for GenBank switch
  src/frontend/src/components/DownloadMetadataTemplate/common/constants.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/SampleIdInput/components/InputInstructions/strings.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/components/SampleIdInput/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/columnDefinitions/sc2PublicId.tsx
Labels: frontend, ez-pz

#1651 Update frontend container base image to node:14.21.3-buster-slim
  src/frontend/Dockerfile
Labels: bug, frontend

#1650 Bump webpack, json5, loader-utils versions
  src/frontend/package-lock.json
  src/frontend/package.json
Labels: frontend, dependencies
