Repository chanzuckerberg/czgenepi, pull requests merged in 2023-02, with the labels that each got.

#1595 dry group location
  src/frontend/src/common/utils/groupUtils.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/index.tsx
Labels: frontend, ez-pz

#1598 Add location max depth query param only for mpox
  src/frontend/src/common/queries/locations.ts
  src/frontend/src/common/redux/middleware/index.ts
Labels: frontend

#1596 Maya/227590 todo cleanup
  src/frontend/src/common/types/bioinformatics.d.ts
  src/frontend/src/components/Table/columnDefinitions/RowSelectionColumn/index.tsx
  src/frontend/src/components/Table/components/EmptyState/index.tsx
  src/frontend/src/components/Table/components/EmptyState/style.ts
  src/frontend/src/components/Table/index.tsx
  src/frontend/src/components/Table/style.ts
  src/frontend/src/views/Data/components/DataNavigation/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
  src/frontend/src/views/Data/components/SamplesView/index.tsx
  src/frontend/src/views/Data/components/SamplesView/style.ts
Labels: bug, enhancement, frontend

#1591 type mappings for lineage, qc metrics, gisaid, genbank types
  src/frontend/e2e/tests/filter-samples.spec.ts
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/components/library/data_table/index.tsx
  src/frontend/src/common/types/bioinformatics.d.ts
  src/frontend/src/common/utils/typeUtils.tsx
  src/frontend/src/components/FilterPanel/index.tsx
  src/frontend/src/views/Data/cellRenderers.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/components/LineageTooltip/components/CovidLineageTooltip/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/components/LineageTooltip/components/GeneralViralLineageTooltip/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/components/QualityScoreTag/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
  src/frontend/src/views/Data/components/SamplesView/index.tsx
  src/frontend/src/views/Data/index.tsx
  src/frontend/src/views/Data/table-headers/commonSampleHeaders.tsx
  src/frontend/src/views/Upload/components/Samples/utils.ts
Labels: frontend

#1593 Support limiting location listing depth.
  src/backend/aspen/api/schemas/locations.py
  src/backend/aspen/api/views/locations.py
  src/backend/aspen/api/views/tests/test_locations.py
  src/backend/aspen/test_infra/models/location.py
  src/backend/aspen/test_infra/models/usergroup.py
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_mpx.sh
  src/cli/aspencli.py
Labels: enhancement, backend

#1585 Scheduled Nextclade running for lineage-qc job
  .happy/terraform/modules/ecs-stack/main.tf
  .happy/terraform/modules/sfn_config/lineage-qc-autorun.wdl
  .happy/terraform/modules/sfn_config/lineage-qc-ondemand.wdl
  src/backend/aspen/util/swipe.py
  src/backend/aspen/workflows/nextclade/launch_refresh_jobs.py
  src/backend/aspen/workflows/nextclade/prep_samples.py
  src/backend/aspen/workflows/nextclade/run_nextclade.sh
  src/backend/aspen/workflows/nextclade/save.py
  src/backend/aspen/workflows/nextclade/utils.py
Labels: enhancement, backend

#1599 dont eat it when checking a sample
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/index.tsx
Labels: bug

#1601 Overwrite include.txt before copying to s3
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_sc2.sh
Labels: backend

#1604 Maya/229189 close modal bug
  src/frontend/src/components/Table/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
  src/frontend/src/views/Data/components/SamplesView/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/index.tsx
Labels: bug, frontend

#1603 Maya/check fix
  src/frontend/src/common/components/library/data_table/index.tsx
  src/frontend/src/components/FilterPanel/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/index.tsx
  src/frontend/src/views/Data/components/SamplesView/index.tsx
  src/frontend/src/views/Data/index.tsx
  src/frontend/src/views/Upload/components/Samples/utils.ts
Labels: bug, frontend

#1607 Maya/229189 trees perf
  src/frontend/src/common/queries/locations.ts
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/common/utils/locationUtils.ts
  src/frontend/src/components/Table/index.tsx
  src/frontend/src/components/Table/style.ts
  src/frontend/src/views/Data/components/DataNavigation/index.tsx
  src/frontend/src/views/Data/components/SamplesView/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/columnDefinitions/actionMenu.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/columnDefinitions/startedDate.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/columnDefinitions/treeName.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/columnDefinitions/treeType.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeTableNameCell/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/style.ts
Labels: bug, enhancement, design feedback, frontend

#1606 [SC-225223] Add blank state for samples.
  src/frontend/src/common/images/flask.svg
  src/frontend/src/views/Data/components/SamplesView/components/BlankState/index.tsx
  src/frontend/src/views/Data/components/SamplesView/components/BlankState/style.ts
  src/frontend/src/views/Data/components/SamplesView/index.tsx
Labels: frontend

#1600 Tree location default - use max depth
  src/frontend/src/common/queries/locations.ts
  src/frontend/src/common/utils/locationUtils.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/CreateNSTreeModal/index.tsx
Labels: frontend

#1610 [SC-227410] Blank state for trees.
  src/frontend/src/common/images/tree.svg
  src/frontend/src/views/Data/components/TreesView/components/BlankStateTrees/index.tsx
  src/frontend/src/views/Data/components/TreesView/components/BlankStateTrees/style.ts
  src/frontend/src/views/Data/components/TreesView/index.tsx
Labels: frontend, ez-pz

#1609 Workflow for saving aligned pathogen genomes
  src/backend/Dockerfile
  src/backend/Dockerfile.lineage_qc
  src/backend/aspen/api/main.py
  src/backend/aspen/api/utils/sample.py
  src/backend/aspen/api/views/tests/test_samples.py
  src/backend/aspen/auth/auth0_management.py
  src/backend/aspen/workflows/nextclade/run_nextclade.sh
  src/backend/aspen/workflows/nextclade/save.py
  src/backend/aspen/workflows/nextclade/tests/data/nextclade.aligned.fasta
  src/backend/aspen/workflows/nextclade/tests/test_nextclade_save.py
  src/backend/poetry.lock
  src/backend/pyproject.toml
Labels: enhancement, backend

#1611 Maya/api camelize
  src/frontend/src/common/api/index.tsx
  src/frontend/src/common/appRouting.ts
  src/frontend/src/common/queries/auth.ts
  src/frontend/src/common/queries/groups.ts
  src/frontend/src/common/queries/phyloRuns.ts
  src/frontend/src/common/queries/samples.ts
  src/frontend/src/common/redux/utils/groupUtils.ts
  src/frontend/src/common/utils/dataTransforms.ts
  src/frontend/src/common/utils/samples.ts
  src/frontend/src/views/Data/components/SamplesView/components/SampleTableModalManager/components/DownloadModal/components/DownloadButton/mapTsvData.ts
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/columnDefinitions/lineage.tsx
  src/frontend/src/views/Data/components/SamplesView/components/SamplesTable/columnDefinitions/qualityControl.tsx
  src/frontend/src/views/Data/tableHeaders/commonSampleHeaders.tsx
Labels: frontend

#1602 Re-enable trees tab for mpox.
  src/frontend/src/views/Data/index.tsx
Labels: frontend

#1617 Add back mpox trees in other table/nav.
  src/frontend/src/views/Data/components/DataNavigation/index.tsx
Labels: frontend, ez-pz

#1618 Fixes for mpx trees
  src/backend/aspen/workflows/nextstrain_run/export.py
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_mpx.sh
Labels: bug

#1619 Temporarily disable Tuesday autodeploy.
  .github/workflows/scheduled-prod-deploy.yml
Labels: ez-pz

#1625 add mpx tooltips
  src/frontend/src/views/Data/components/TreesView/components/TreesTable/components/TreeTableNameCell/components/PhyloTreeStatusTag/index.tsx
Labels: frontend, ez-pz

#1628 security txt update
  src/frontend/public/.well-known/security.txt
Labels: ez-pz

#1629 [SC-229469] Remove 500+ sample error message.
  src/frontend/src/components/WebformTable/common/types.ts
  src/frontend/src/views/Upload/components/Metadata/components/ImportFile/components/Alerts/Error.tsx
  src/frontend/src/views/Upload/components/Samples/components/AlertTable/index.tsx
  src/frontend/src/views/Upload/components/Samples/utils.ts
Labels: frontend

#1630 Make it possible for version strings to match.
  src/backend/Dockerfile.pangolin
  src/backend/aspen/workflows/pangolin/find_samples.py
  src/backend/aspen/workflows/pangolin/tests/test_pangolin_workflow.py
Labels: bug, backend
