Repository chanzuckerberg/czgenepi, pull requests merged in 2024-08, with the labels that each got.

#1700 fix: make sure mpox trees exclude invalid samples
  src/backend/Dockerfile.nextstrain
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_mpx.sh
Labels: bug, backend

#1703 Update lineage file to color samples on the mpox tree
  src/backend/Dockerfile.nextstrain
  src/backend/aspen/workflows/nextstrain_run/run_nextstrain_mpx.sh
Labels: ez-pz

#1704 Update nextstrain docker image for better mpox tree building
  src/backend/Dockerfile.nextstrain
Labels: backend, ez-pz
